{% extends 'base.html' %}
{% load humanize %} <!-- intcomma필터 -->
{% load static %}


{% block content %}
<div class="container my-4">
    <!-- 카테고리 선택 바 -->
    <div class="category-bar mb-4">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link {% if not request.GET.category %}active{% endif %}" href="?{% if request.GET.sort %}sort={{ request.GET.sort }}&{% endif %}{% if request.GET.order %}&order={{ request.GET.order }}{% endif %}{% if request.GET.search_keyword %}&search_keyword={{ request.GET.search_keyword }}{% endif %}{% if request.GET.min_price %}&min_price={{ request.GET.min_price }}{% endif %}{% if request.GET.max_price %}&max_price={{ request.GET.max_price }}{% endif %}">
                    <img src="{% static 'category_all_image/5110770.png' %}" alt="전체">
                    <span>전체</span>
                </a>
            </li>
            
            <!-- 각 카테고리 버튼들 -->
            {% for category in categories %}
            <li class="nav-item">
                <a class="nav-link {% if request.GET.category == category.id|stringformat:"s" %}active{% endif %}" href="?category={{ category.id }}{% if request.GET.sort %}&sort={{ request.GET.sort }}{% endif %}{% if request.GET.order %}&order={{ request.GET.order }}{% endif %}{% if request.GET.search_keyword %}&search_keyword={{ request.GET.search_keyword }}{% endif %}{% if request.GET.min_price %}&min_price={{ request.GET.min_price }}{% endif %}{% if request.GET.max_price %}&max_price={{ request.GET.max_price }}{% endif %}">
                    <img src="{{ category.category_image.url }}" alt="{{ category.category_name }}">
                    <span>{{ category.category_name }}</span>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>

    <!-- 배너 섹션 -->
    <div class="banner" style="position: relative; text-align: center; color: white; background-color: black; height: 200px;">
        <div class="banner-text" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); font-size: 2em; font-weight: bold; z-index: 10;">
            SHOP
        </div>
    </div>

    <br>

    {% if search_info %}
    <span class="row m-0" style="font-size: 31px; font-family: Lexend; font-weight: 700; line-height: 48px;">{{ search_info }}</span>
    {% endif %}
    <span class="row m-0" style="font-size: 31px; font-family: Lexend; font-weight: 700; line-height: 48px;"></span>
    
    <!-- 메인 컨텐츠 -->
    <div class="row mt-4">
        <!-- 왼쪽 필터 섹션 -->
        <div class="col-lg-3">
            <div class="filter-section">
                <h4>Filters <a href="?" class="btn btn-secondary btn-sm">Clear All</a></h4>
                <form method="GET" id="filterForm">
                    <!-- 상품명 검색 창 -->
                    <div class="form-group">
                        <label for="productName">상품명 검색</label>
                        <input type="text" class="form-control" id="productName" name="search_keyword" placeholder="상품명을 입력하세요" value="{{ request.GET.search_keyword }}">
                    </div>
                    <br> <br>
                    <!-- 가격 범위 필터 -->
                    <div class="filter-group">
                        <label for="priceRange">가격</label>
                        <div id="priceSlider"></div>
                        <input type="hidden" name="min_price" id="minPriceInput" value="{{ request.GET.min_price|default:min_price }}">
                        <input type="hidden" name="max_price" id="maxPriceInput" value="{{ request.GET.max_price|default:max_price }}">
                        <div id="priceRangeText">{{ request.GET.min_price|default:min_price }} 원 - {{ request.GET.max_price|default:max_price }} 원</div>
                    </div>
                    <!-- 정렬 옵션 포함 -->
                    <input type="hidden" name="sort" value="{{ sort }}">
                    <input type="hidden" name="order" value="{{ order }}">
                    <!-- 카테고리 포함 -->
                    {% if request.GET.category %}
                    <input type="hidden" name="category" value="{{ request.GET.category }}">
                    {% endif %}
                    <button type="submit" class="btn btn-primary">필터 적용</button>
                </form>
            </div>
        </div>
        

        <!-- 오른쪽 상품 목록 섹션 -->
        <div class="col-lg-9">
            <div class="d-flex justify-content-between align-items-center mb-4">
                <h3>
                    {% if request.GET.category %}
                        {% for category in categories %}
                            {% if request.GET.category == category.id|stringformat:"s" %}
                                {{ category.category_name }} 쇼핑하기
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        전체 쇼핑하기
                    {% endif %}
                </h3>
                <!-- 정렬 옵션 드롭다운 -->
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="sortDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                        정렬 옵션
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="sortDropdown">
                        <li><a class="dropdown-item" href="?{% if request.GET.category %}category={{ request.GET.category }}&{% endif %}{% if request.GET.search_keyword %}&search_keyword={{ request.GET.search_keyword }}{% endif %}{% if request.GET.min_price %}&min_price={{ request.GET.min_price }}{% endif %}{% if request.GET.max_price %}&max_price={{ request.GET.max_price }}{% endif %}&sort=created_date&order=desc">최신순</a></li>
                        <li><a class="dropdown-item" href="?{% if request.GET.category %}category={{ request.GET.category }}&{% endif %}{% if request.GET.search_keyword %}&search_keyword={{ request.GET.search_keyword }}{% endif %}{% if request.GET.min_price %}&min_price={{ request.GET.min_price }}{% endif %}{% if request.GET.max_price %}&max_price={{ request.GET.max_price }}{% endif %}&sort=product_price&order=asc">가격 낮은순</a></li>
                        <li><a class="dropdown-item" href="?{% if request.GET.category %}category={{ request.GET.category }}&{% endif %}{% if request.GET.search_keyword %}&search_keyword={{ request.GET.search_keyword }}{% endif %}{% if request.GET.min_price %}&min_price={{ request.GET.min_price }}{% endif %}{% if request.GET.max_price %}&max_price={{ request.GET.max_price }}{% endif %}&sort=product_price&order=desc">가격 높은순</a></li>
                        <li><a class="dropdown-item" href="?{% if request.GET.category %}category={{ request.GET.category }}&{% endif %}{% if request.GET.search_keyword %}&search_keyword={{ request.GET.search_keyword }}{% endif %}{% if request.GET.min_price %}&min_price={{ request.GET.min_price }}{% endif %}{% if request.GET.max_price %}&max_price={{ request.GET.max_price }}{% endif %}&sort=average_rating&order=desc">별점 높은순</a></li>
                        <li><a class="dropdown-item" href="?{% if request.GET.category %}category={{ request.GET.category }}&{% endif %}{% if request.GET.search_keyword %}&search_keyword={{ request.GET.search_keyword }}{% endif %}{% if request.GET.min_price %}&min_price={{ request.GET.min_price }}{% endif %}{% if request.GET.max_price %}&max_price={{ request.GET.max_price }}{% endif %}&sort=average_rating&order=asc">별점 낮은순</a></li>
                    </ul>
                </div>
            </div>

            <div class="row">
                {% for product in page_obj %}
                <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                    <div class="card flex-grow-1">
                        <div class="embed-responsive embed-responsive-4by3">
                            <a href="/product/{{ product.product_id }}">
                                <div style="height: 180px; overflow: hidden;">
                                    <img class="card-img-top embed-responsive-item img-fluid" style="object-fit: cover; width: 100%; height: 100%;" src="{{ MEDIA_URL }}{{ product.product_img }}" alt="Product Image">
                                </div>
                            </a>
                        </div>
                        <div class="card-body">
                            <span class="badge bg-light text-dark">상품명</span>
                            <a href="/product/{{ product.product_id }}" class="link-dark text-decoration-none">
                                <h4 class="card-title">{{ product.product_name }}</h4>
                            </a>
                        </div>
                        <div class="card-footer d-flex justify-content-between bg-white">
                            <div>₩{{ product.product_price|intcomma }}</div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <!-- 페이지네이션 -->
            {% if is_paginated %}
            <div class="d-flex justify-content-center mt-4">
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?{% if request.GET.category %}category={{ request.GET.category }}&{% endif %}{% if request.GET.search_keyword %}&search_keyword={{ request.GET.search_keyword }}{% endif %}{% if request.GET.min_price %}&min_price={{ request.GET.min_price }}{% endif %}{% if request.GET.max_price %}&max_price={{ request.GET.max_price }}{% endif %}{% if sort %}&sort={{ sort }}{% endif %}{% if order %}&order={{ order }}{% endif %}&page=1">&laquo;</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?{% if request.GET.category %}category={{ request.GET.category }}&{% endif %}{% if request.GET.search_keyword %}&search_keyword={{ request.GET.search_keyword }}{% endif %}{% if request.GET.min_price %}&min_price={{ request.GET.min_price }}{% endif %}{% if request.GET.max_price %}&max_price={{ request.GET.max_price }}{% endif %}{% if sort %}&sort={{ sort }}{% endif %}{% if order %}&order={{ order }}{% endif %}&page={{ page_obj.previous_page_number }}">이전</a>
                    </li>
                    {% endif %}
                    {% for num in page_obj.paginator.page_range %}
                    <li class="page-item {% if num == page_obj.number %}active{% endif %}">
                        <a class="page-link" href="?{% if request.GET.category %}category={{ request.GET.category }}&{% endif %}{% if request.GET.search_keyword %}&search_keyword={{ request.GET.search_keyword }}{% endif %}{% if request.GET.min_price %}&min_price={{ request.GET.min_price }}{% endif %}{% if request.GET.max_price %}&max_price={{ request.GET.max_price }}{% endif %}{% if sort %}&sort={{ sort }}{% endif %}{% if order %}&order={{ order }}{% endif %}&page={{ num }}">{{ num }}</a>
                    </li>
                    {% endfor %}
                    {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?{% if request.GET.category %}category={{ request.GET.category }}&{% endif %}{% if request.GET.search_keyword %}&search_keyword={{ request.GET.search_keyword }}{% endif %}{% if request.GET.min_price %}&min_price={{ request.GET.min_price }}{% endif %}{% if request.GET.max_price %}&max_price={{ request.GET.max_price }}{% endif %}{% if sort %}&sort={{ sort }}{% endif %}{% if order %}&order={{ order }}{% endif %}&page={{ page_obj.next_page_number }}">다음</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?{% if request.GET.category %}category={{ request.GET.category }}&{% endif %}{% if request.GET.search_keyword %}&search_keyword={{ request.GET.search_keyword }}{% endif %}{% if request.GET.min_price %}&min_price={{ request.GET.min_price }}{% endif %}{% if request.GET.max_price %}&max_price={{ request.GET.max_price }}{% endif %}{% if sort %}&sort={{ sort }}{% endif %}{% if order %}&order={{ order }}{% endif %}&page={{ page_obj.paginator.num_pages }}">&raquo;</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
            {% endif %}
            <!-- 페이지네이션 끝 -->
        </div>
    </div>
</div>


<!-- Bootstrap CSS CDN 링크 -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.4.0/nouislider.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.4.0/nouislider.min.js"></script>


<style>
    .col-md-4 {
        display: flex;
        justify-content: center;
    }
    .card {
        height: 400px;
        transition: transform 0.3s, box-shadow 0.3s, opacity 0.3s; 
        position: relative;
        opacity: 0; 
    }
    .card:hover {
        transform: scale(1.05);
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        z-index: 1;
    }
    .card .card-img-top {
        transition: transform 0.3s;
    }
    .card:hover .card-img-top {
        transform: scale(1.1);
    }
    .filter-section {
        background-color: #f8f9fa;
        padding: 15px;
        border-radius: 5px;
    }
    .filter-group {
        margin-bottom: 15px;
    }

    @keyframes fade-in {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    .card.fade-in {
        opacity: 1;
        animation: fade-in 3s ease-out forwards;
    }

    .card-footer {
        background-color: white; 
        border-top: none; 
    }

    .category-bar {
        display: flex;
        flex-wrap: wrap;
        gap: 20px; 
        justify-content: center; 
    }

    .nav-link {
        color: black; 
        text-decoration: none; 
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 150px; 
    }

    .nav-link img {
        width: 50px;
        height: 50px;
        object-fit: cover;
        margin-bottom: 5px; 
    }


    .noUi-connect {
        background-color: #ccc !important; /* Change the slider color to gray */
    }

    .filter-section button[type="submit"] {
        background-color: #fff; /* 배경색을 흰색으로 설정 */
        border: 1px solid #007bff; /* 파란색 테두리 추가 */
        color: #000; /* 버튼 텍스트 색상을 검정색으로 설정 */
        transition: background-color 0.3s, color 0.3s; /* 애니메이션 효과 추가 */
    }

    .filter-section button[type="submit"]:hover {
        background-color: #007bff; /* 마우스 호버시 배경색을 파란색으로 변경 */
        color: #fff; /* 텍스트 색상을 흰색으로 변경 */
    }

    
</style>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var priceSlider = document.getElementById('priceSlider');
        var minPriceInput = document.getElementById('minPriceInput');
        var maxPriceInput = document.getElementById('maxPriceInput');
        var priceRangeText = document.getElementById('priceRangeText');
    
        // Django 템플릿 변수를 문자열로 변환하여 할당
        var minPrice = parseInt("{{ min_price }}");
        var maxPrice = parseInt("{{ max_price }}");
    
        noUiSlider.create(priceSlider, {
            start: [parseInt(minPriceInput.value), parseInt(maxPriceInput.value)],
            connect: true,
            range: {
                'min': minPrice,
                'max': maxPrice
            },
            format: {
                to: function (value) {
                    return Math.round(value);
                },
                from: function (value) {
                    return value;
                }
            }
        });


        priceSlider.querySelector('.noUi-connect').style.background = '#ccc';
    
        priceSlider.noUiSlider.on('update', function(values, handle) {
            minPriceInput.value = values[0];
            maxPriceInput.value = values[1];
            priceRangeText.innerHTML = values[0] + ' 원 - ' + values[1] + ' 원';
        });
    
        // 페이지 로드 후 각 카드에 fade-in 클래스 추가
        var cards = document.querySelectorAll('.card');
        cards.forEach(function(card) {
            card.classList.add('fade-in');
        });
    });
</script>
{% endblock %}


