{% load static %}
{% load humanize %}

{% block header %}
<!-- Bootstrap CSS CDN 링크 -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
<style>
    .description-collapsed {
        max-height: 1000px; /* 상품상세정보 보일 최대 높이 */
        overflow: hidden;
        position: relative;
    }
    .description-collapsed::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 50%; /* 그라데이션 높이 */
        background: linear-gradient(to top, white, transparent);
    }
    .toggle-btn {
        display: block;
        margin: 20px auto;
        padding: 10px 20px;
        border: 2px solid #007bff;
        border-radius: 5px;
        background-color: #007bff;
        color: white;
        text-align: center;
        cursor: pointer;
        transition: background-color 0.3s, border-color 0.3s;
    }
    .toggle-btn:hover {
        background-color: white;
        color: #007bff;
        border-color: #007bff;
    }
    .custom-btn {
        display: block;
        width: fit-content;
        margin: 0 auto;
        padding: 10px 20px;
        border: 2px solid #007bff;
        border-radius: 5px;
        background-color: #007bff;
        color: white;
        text-align: center;
        cursor: pointer;
        transition: background-color 0.3s, border-color 0.3s;
    }
    .custom-btn:hover {
        background-color: white;
        color: #007bff;
        border-color: #007bff;
    }

    .recommended-product-card {
        transition: transform 0.3s, box-shadow 0.3s; 
        position: relative;
    }
    .recommended-product-card:hover {
        transform: scale(1.05); 
        box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
        z-index: 1; 
    }
    .recommended-product-card .card-img-top {
        transition: transform 0.3s;
    }
    .recommended-product-card:hover .card-img-top {
        transform: scale(1.1); 
    }
</style>
{% endblock %}

{% block content %}

<div class="container mt-4">
  <div class="row">
    <div class="col-lg-6">
      <!-- 대표 이미지 칸 -->
      <div class="card mb-3 border-0">
        {% if product.product_img %}
          <img src="{{ product.product_img.url }}" class="card-img-top" alt="상품 이미지">
        {% else %}
          <img src="{% static 'path/to/placeholder_image.jpg' %}" class="card-img-top" alt="상품 이미지 없음">
        {% endif %}
      </div>
    </div>
    <div class="col-lg-6">
      <!-- 상품 정보 -->
      <div class="card border-0">
        <div class="card-body">
          <h2>{{ product.product_name }}</h2>
          <br><br><br>
          <p>가격: <strong>₩{{ product.product_price|intcomma }}</strong></p>
          <p>등록날짜: <strong>{{ product.created_date|date:'Y-m-d' }}</strong></p>
          <p>카테고리: <strong>{{ product.category }}</strong></p>
          
          <!-- 목록 보기 링크 -->
          <a href="/product/" class="btn btn-secondary">목록보기</a>
          <button id="copyUrlBtn" class="btn btn-primary">URL 복사</button>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <!-- 상품 설명 -->
  <div class="row mt-4">
    <div class="col">
      <div class="card border-0">
        <div class="card-body">
          <h3>Product Info</h3>
          <div id="description" class="description-collapsed">
            <p>{{ product.description|safe }}</p>
          </div>
          <button id="toggleDescriptionBtn" class="custom-btn">상품 정보 더 보기</button>
        </div>
      </div>
    </div>
  </div>

<!-- 팔로우 버튼 -->
{% if user.is_authenticated %}
    <button id="follow-button" data-user-id="{{ product.user.id }}">
        {% if product.user in request.user.following.all %}
            언팔로우
        {% else %}
            팔로우
        {% endif %}
    </button>
{% else %}
    <a href="{% url 'login' %}">로그인 후 팔로우</a>
{% endif %}




  <!-- 추천 제품 -->
  <div class="row mt-4">
    <div class="col">
      <h3>마음에 들 만한 상품</h3>
      <div class="row">
        {% for recommended_product in recommended_products %}
        <div class="col-md-4 mb-5">
          <div class="card border-0 recommended-product-card">
              <a href="{% url 'product:product_detail' recommended_product.pk %}">
                  {% if recommended_product.product_img %}
                  <div style="height: 180px; overflow: hidden;">
                      <img src="{{ recommended_product.product_img.url }}" img class="card-img-top embed-responsive-item img-fluid" style="object-fit: cover; width: 100%; height: 100%;" alt="{{ recommended_product.product_name }}">
                  </div>
                  {% else %}
                  <div style="height: 180px; overflow: hidden;">
                      <img src="{% static 'path/to/placeholder_image.jpg' %}" class="card-img-top" alt="추천 상품 이미지 없음">
                  </div>
                  {% endif %}
              </a>
              <div class="card-body">
                  <h5 class="card-title">{{ recommended_product.product_name }}</h5>
                  <p class="card-text">가격: {{ recommended_product.product_price|stringformat:"d" }} 원</p>
              </div>
          </div>
      </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>



<script>
    document.getElementById('copyUrlBtn').addEventListener('click', function() {
        var urlField = document.createElement('input');
        urlField.setAttribute('type', 'text');
        urlField.setAttribute('value', window.location.href);
        document.body.appendChild(urlField);
        urlField.select();
        document.execCommand('copy');
        document.body.removeChild(urlField);
        alert('현재 페이지 URL이 복사되었습니다.');
    });

    document.getElementById('toggleDescriptionBtn').addEventListener('click', function() {
        var description = document.getElementById('description');
        var button = document.getElementById('toggleDescriptionBtn');
        
        if (description.classList.contains('description-collapsed')) {
            description.classList.remove('description-collapsed');
            button.textContent = '상품 정보 접기';
        } else {
            description.classList.add('description-collapsed');
            button.textContent = '상품 정보 더 보기';
        }
    });
    //재웅 팔로우 기능//
    
    document.getElementById('follow-button').addEventListener('click', function() {
        const userId = this.getAttribute('data-user-id');
        fetch("/follow/follow1/", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: JSON.stringify({ user_id: userId })
        })
        .then(response => response.json())
        .then(data => {
            if (data.status === 'followed') {
                this.textContent = '언팔로우';
            } else if (data.status === 'unfollowed') {
                this.textContent = '팔로우';
            }
        });
    });
</script>
{% endblock %}