{% block content %}
<div class="container my-4">
    <!-- 배너 섹션 시작 -->
    <div class="banner" style="position: relative; text-align: center; color: white;">
        <img src="{{ MEDIA_URL }}uploads/banner_image.jpg" alt="배너 이미지" style="width: 100%; height: auto;">
        <div class="banner-text" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); font-size: 2em; font-weight: bold;">
            <!-- 여기에 원하는 글자를 입력 -->
        </div>
    </div>
    <!-- 배너 섹션 끝 -->
    <br>

    {% if search_info %}
    <span class="row m-0" style="font-size: 31px; font-family: Lexend; font-weight: 700; line-height: 48px;">{{ search_info }}</span>
    {% endif %}
    <span class="row m-0" style="font-size: 31px; font-family: Lexend; font-weight: 700; line-height: 48px;">{{ category }}</span>
    
    <!-- 정렬 옵션 드롭다운 -->
    <div class="dropdown mb-4">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="sortDropdown" data-bs-toggle="dropdown" aria-expanded="false">
            정렬 옵션
        </button>
        <ul class="dropdown-menu" aria-labelledby="sortDropdown">
            <li><a class="dropdown-item" href="?sort=created_date&order=desc">최신순</a></li>
            <li><a class="dropdown-item" href="?sort=product_price&order=asc">낮은 가격순</a></li>
            <li><a class="dropdown-item" href="?sort=product_price&order=desc">높은 가격순</a></li>
        </ul>
    </div>
    
    <div class="mt-4">
        <h3>전체</h3>
        <div class="row">
            {% for product in page_obj %}
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                <div class="card flex-grow-1">
                    <div class="embed-responsive embed-responsive-4by3">
                        <a href="/product/{{ product.product_id }}">
                            <div style="height: 180px; overflow: hidden;">
                                <img class="card-img-top embed-responsive-item img-fluid" style="object-fit: cover; width: 100%; height: 100%;" src="{{ MEDIA_URL }}{{ product.product_img }}" alt="Product Image">
                            </div>
                        </a>
                    </div>
                    <div class="card-body">
                        <span class="badge bg-light text-dark">브랜드명</span>
                        <a href="/product/{{ product.product_id }}" class="link-dark text-decoration-none">
                            <h4 class="card-title">{{ product.product_name }}</h4>
                        </a>
                    </div>
                    <div class="card-footer d-flex justify-content-between">
                        <div>{{ product.product_price }}원</div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <!-- 페이지네이션 -->
        {% if is_paginated %}
        <div class="d-flex justify-content-center mt-4">
            <ul class="pagination">
                {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1">&laquo;</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">이전</a>
                </li>
                {% endif %}
                {% for num in page_obj.paginator.page_range %}
                <li class="page-item {% if num == page_obj.number %}active{% endif %}">
                    <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                </li>
                {% endfor %}
                {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">다음</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">&raquo;</a>
                </li>
                {% endif %}
            </ul>
        </div>
        {% endif %}
        <!-- 페이지네이션 끝 -->
    </div>
</div>

<!-- base.html에 bootstrap 코드 없어서 일단 html에 추가해놓음 -->
<!-- Bootstrap CSS CDN 링크 -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">

<!-- Bootstrap JavaScript CDN 링크 -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

<style>
    .card {
        height: 400px;
    }
</style>
{% endblock %}


