<div class="nav">
    <div class="profile">
        <img src="{{ user.profile_picture.url }}" alt="Profile Picture">
        <p>{{ user.nickname }}</p>
    </div>
    <div class="menu">
        <div class="menu-header">
            <div class="menu-icon"></div>
            <h2>MY MENU</h2>
        </div>
        <ul>
            <li class="menu-item">
                <div class="menu-item-header">
                    <a href="#"><span class="icon">🏠</span> 주문배송</a>
                    <div class="toggle-icon"></div>
                </div>
                <ul class="submenu">
                    <li><a href="{% url 'orders:order_list' %}">주문내역</a></li>
                    <li><a href="{% url 'mypage_section' section='cancellations' %}">취소/환불내역</a></li>
                </ul>
            </li>
            <li class="menu-item"><a href="{% url 'mypage_section' section='reviews' %}"><span class="icon">💬</span> 나의 구매후기</a></li>
            <li class="menu-item"><a href="{% url 'mypage_section' section='favorites' %}"><span class="icon">❤️</span> 관심</a></li>
            <li class="menu-item"><a href="{% url 'mypage_section' section='seller_page' %}"><span class="icon">⚙️</span> 판매자 페이지</a></li>
            <li class="menu-item"><a href="{% url 'mypage_section' section='edit_profile' %}"><span class="icon">⚙️</span> 내 정보 수정</a></li>

        </ul>
    </div>
</div> 