<!-- profile_update.html -->
{% extends 'base.html' %} {% load static %} {% block content %}
<link
  rel="stylesheet"
  href="{% static 'accounts/css/account_settings.css' %}"
/>

<div class="container">
  <div class="my-page-nav">
    <h3>마이페이지</h3>
    <ul>
      <li>
        <a href="{% url 'accounts:password_change' %}">Change Password</a>
      </li>
      <li>
        <a href="{% url 'accounts:delete_account' %}">Delete Account</a>
      </li>
    </ul>

    <h3>판매자페이지</h3>
    <ul>
      <li>
        <a href="{% url 'product:product_create' %}">상품 등록</a>
      </li>
      <li>
        <a href="{% url 'product:my_products' %}">내 상품 리스트 보기</a>
      </li>
    </ul>
  </div>

  <div class="content">
    <div class="account-settings">
      <!-- 프로필 업데이트 폼 -->
      <h2 id="profile">Profile Settings</h2>
      <div>
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %} {{ profile_form.as_p }}

          <!-- 기존 정보 표시 -->
          <p>기존 Profile Picture: {% if user.profile_picture %}</p>
          <p>
            Profile Picture:
            <img src="{{ user.profile_picture.url }}" alt="Profile Picture" />
          </p>
          {% endif %}

          <button type="submit" name="update_profile">Update Profile</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
