<!-- accounts/account_settings.html -->
{% extends 'base.html' %} {% load static %}
<!-- 정적 파일 로드 -->

{% block content %}
<h1>Account Settings</h1>
<ul>
  <li><a href="{% url 'accounts:password_change' %}">Change Password</a></li>
  <!-- 기타 계정 설정 링크 -->
</ul>
{% endblock %}

<!-- 비밀번호 변경 폼 -->
<form method="post">
  {% csrf_token %} {{ password_form.as_p }}
  <button type="submit" name="change_password">Change Password</button>
</form>

<!-- 회원 탈퇴 링크 -->
<a href="{% url 'accounts:delete_account' %}">회원 탈퇴</a>
