{% extends 'base.html' %} {% load static %} {% block content %}
<link rel="stylesheet" href="{% static 'accounts/css/register.css' %}" />

<div class="register-container">
  <div class="signup-header">
    <p>Sign up</p>
  </div>
  <p class="role">SELLER</p>
  <p>Or sign in with</p>

  <!-- Sign in with social media icons or buttons can be added here -->

  <div class="agreement">
    <p>By signing up, I agree with the <a href="#">Terms of Use</a></p>
    <p>By signing up, I agree with the <a href="#">Privacy Policy</a></p>
  </div>

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="input-group">
      <input
        type="email"
        name="email"
        placeholder="example.email@gmail.com"
        required
      />
      <label>Email</label>
    </div>
    <div class="input-group">
      <input
        type="password"
        name="password1"
        placeholder="Enter at least 8+ characters"
        required
      />
      <label>Password</label>
    </div>
    <div class="input-group">
      <input
        type="password"
        name="password2"
        placeholder="Enter at least 8+ characters"
        required
      />
      <label>Password</label>
    </div>
    <div class="input-group">
      <input type="text" name="nickname" placeholder="Nickname" />
      <label>Nickname</label>
    </div>
    <div class="input-group">
      <input
        type="text"
        name="phone_number"
        placeholder="Phone number"
        required
      />
      <label>Phone number</label>
    </div>
    <div class="input-group">
      <input type="file" name="profile_picture" accept="image/*" />
      <label>Profile photo</label>
    </div>
    <button type="submit" class="register-btn">Sign Up</button>
  </form>
</div>
{% endblock %}
