{% extends 'base.html' %} {% load static %} {% block content %}
<link rel="stylesheet" href="{% static 'accounts/css/register.css' %}" />

<div class="register-container">
  <div class="signup-header">
    <p>Sign up</p>
  </div>
  <p class="role">SELLER</p>
  <p>Or sign in with</p>

  <!-- Sign in with social media icons or buttons can be added here -->

  <form method="post" action="{% url 'accounts:register' %}">
    {% csrf_token %}
    <div class="form-group">
      <label for="{{ form.username.id_for_label }}">Email:</label>
      <input
        type="email"
        name="username"
        id="{{ form.username.id_for_label }}"
        class="form-control"
        placeholder="example@gmail.com"
      />
    </div>
    <div class="form-group">
      <label for="id_password">Password:</label>
      <div class="password-container">
        <input
          type="password"
          id="id_password"
          name="password"
          placeholder="8자 이상 숫자 포함"
          class="form-control password-input"
        />
        <button type="button" id="toggle-password" class="toggle-password">
          Show
        </button>
      </div>
    </div>
    <div class="input-group">
      <input type="text" name="nickname" placeholder="Nickname" />
      <label>Nickname</label>
    </div>
    <div class="input-group">
      <input
        type="text"
        name="phone_number"
        placeholder="Phone number"
        required
      />
      <label>Phone number</label>
    </div>

    <div class="form-group">
      <input
        type="checkbox"
        id="agree-terms"
        name="agree_terms"
        class="form-checkbox"
      />
      <label for="agree-terms">I agree with the Terms of Use</label>
    </div>
    <div class="form-group">
      <input
        type="checkbox"
        id="agree-privacy-policy"
        name="agree_privacy_policy"
        class="form-checkbox"
      />
      <label for="agree-privacy-policy">I agree with the Privacy Policy</label>
    </div>

    <div class="input-group">
      <input type="file" name="profile_picture" accept="image/*" />
      <label>Profile photo</label>
    </div>
    <button type="submit" class="register-btn">Register</button>
    <p>
      Already have an account? <a href="{% url 'accounts:login' %}">Login</a>
    </p>
  </form>

  {% endblock %}
</div>
