{% extends 'base.html' %}
{% load humanize %}
{% load static %}

{% block title %}Home Page{% endblock %}

{% block content %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.4.0/nouislider.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.4.0/nouislider.min.js"></script>
<div class="container my-4">
    <div class="category-bar mb-4">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link {% if not request.GET.category %}active{% endif %}" href="{% url 'product:product' %}?{% if request.GET.sort %}sort={{ request.GET.sort }}&{% endif %}{% if request.GET.order %}&order={{ request.GET.order }}{% endif %}{% if request.GET.search_keyword %}&search_keyword={{ request.GET.search_keyword }}{% endif %}{% if request.GET.min_price %}&min_price={{ request.GET.min_price }}{% endif %}{% if request.GET.max_price %}&max_price={{ request.GET.max_price }}{% endif %}">
                    <img src="{% static 'category_all_image/category_all.png' %}" alt="전체">
                    <span>전체</span>
                </a>
            </li>
            {% for category in categories %}
            <li class="nav-item">
                <a class="nav-link {% if request.GET.category == category.id|stringformat:"s" %}active{% endif %}" href="{% url 'product:product' %}?category={{ category.id }}{% if request.GET.sort %}&sort={{ request.GET.sort }}{% endif %}{% if request.GET.order %}&order={{ request.GET.order }}{% endif %}{% if request.GET.search_keyword %}&search_keyword={{ request.GET.search_keyword }}{% endif %}{% if request.GET.min_price %}&min_price={{ request.GET.min_price }}{% endif %}{% if request.GET.max_price %}&max_price={{ request.GET.max_price }}{% endif %}">
                    <img src="{{ category.category_image.url }}" alt="{{ category.category_name }}">
                    <span>{{ category.category_name }}</span>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

<div id="carouselExampleIndicators" class="carousel slide custom-carousel" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="{% static 'homepageimage/banner1.jpg' %}" alt="First slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="{% static 'homepageimage/banner2.jpg' %}" alt="Second slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="{% static 'homepageimage/banner3.jpg' %}" alt="Third slide">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<br><br>

<section class="my-5">
    <h2 class="text-center" style="font-size: 1.5rem;">
    {% if user.is_authenticated %}
        For You <br>
        {{ user.nickname }}님을 위해 준비해 봤어요.
    {% else %}
        Products
    {% endif %}
    </h2>
    <div class="container">
        <div class="row">
            {% for product in random_products %}
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                <div class="card flex-grow-1">
                    <div class="embed-responsive embed-responsive-4by3">
                        <a href="/product/{{ product.product_id }}">
                            <div style="height: 180px; overflow: hidden;">
                                <img class="card-img-top embed-responsive-item img-fluid" style="object-fit: cover; width: 100%; height: 100%;" src="{{ product.product_img.url }}" alt="Product Image">
                            </div>
                        </a>
                    </div>
                    <div class="card-body">
                        <span class="badge bg-light text-dark">상품명</span>
                        <a href="/product/{{ product.product_id }}" class="link-dark text-decoration-none">
                            <h4 class="card-title">{{ product.product_name }}</h4>
                        </a>
                    </div>
                    <div class="card-footer d-flex justify-content-between bg-white">
                        <div>₩{{ product.product_price|intcomma }}</div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

<style>
    .category-bar {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }

    .nav-link {
        color: black;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 150px;
    }

    .nav-link img {
        width: 50px;
        height: 50px;
        object-fit: cover;
        margin-bottom: 5px;
    }

    .row {
        row-gap: 30px;
    }

    .col-md-4 {
        display: flex;
        justify-content: center;
    }

    .card {
        height: 400px;
        position: relative;
    }

    :root {
        --carousel-width: 1200px;
        --carousel-height: 600px;
    }

    .custom-carousel {
        width: var(--carousel-width);
        height: var(--carousel-height);
        margin: 0 auto;
    }

    .carousel-inner img {
        width: var(--carousel-width);
        height: var(--carousel-height);
        object-fit: cover;
    }

    @media (max-width: 576px) {
        :root {
            --carousel-width: 300px;
            --carousel-height: 400px;
        }

        .nav-link img {
            width: 40px;
            height: 40px;
        }

        .nav-link span {
            font-size: 14px;
        }

        .custom-carousel {
            width: 300px;
            height: 400px;
        }

        .carousel-inner img {
            width: 300px;
            height: 400px;
        }
    }

    @media (max-width: 768px) {
        :root {
            --carousel-width: 500px;
            --carousel-height: 400px;
        }

        .custom-carousel {
            width: 500px;
            height: 400px;
        }

        .carousel-inner img {
            width: 500px;
            height: 400px;
        }
    }

    @media (max-width: 992px) {
        :root {
            --carousel-width: 800px;
            --carousel-height: 400px;
        }

        .custom-carousel {
            width: 800px;
            height: 400px;
        }

        .carousel-inner img {
            width: 800px;
            height: 400px;
        }
    }
</style>
{% endblock %}