{% extends 'product/base.html '%}
{% block main_area %}
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5">
            <div class="col-md-6" >
                <img class="card-img-top mb-5 " src="https://picsum.photos/seed/{{ product.id }}/800/200" alt="">
            </div>
            <div class="col-md-6 d-flex flex-column" >
                <div class="small mb-1">브랜드명</div>
                <h1 class="display-5 fw-bolder">{{product.product_name}}</h1>
                <div class="fs-5 mb-5">
                    <span>{{product.price}}원</span>
                </div>
                <p class="lead">
                    {{product.description}}
                </p>
                <div class="mt-auto" name="this">
                    <div class="bg-light d-flex justify-content-between">
                        <span class="mx-2">
                            <a href="" class="link-dark text-decoration-none mx-2 fs-3">-</a>
                            <span>1</span>
                            <a href="" class="link-dark text-decoration-none mx-2 fs-4">+</a>
                        </span>
                        <span class="">총가격</span>
                    </div>
                    <div>
                        <div class="d-grid gap-2">
                            <button class="btn btn-info text-light" type="button">장바구니</button>
                            <button class="btn btn-info text-light" type="button">구매하기</button>
                        </div>
                    </div>
                    
                </div>
            </div> 
        </div>
    </div>
    <div class="container">
        <div class="fs-3 fw-bold">작품정보</div>
    </div>
    
{% endblock %}