{% extends 'base.html' %} {% load static %} {% block content %}
<link rel="stylesheet" href="{% static 'accounts/css/login.css' %}" />

<div class="login-container">
  <!-- 로고 이미지 대체 -->
  <div class="logo-container">
    <img
      src="{% static 'images/SELLER_logo.png' %}"
      alt="Logo"
      width="200"
      height="auto;"
      class="d-inline-block align-text-top"
      style="display: inline-block; vertical-align: middle"
    />
  </div>

  <form method="post">
    {% csrf_token %}
    <div class="form-group">
      <label for="{{ form.username.id_for_label }}">Email:</label>
      <input
        type="email"
        name="username"
        id="{{ form.username.id_for_label }}"
        class="form-control"
        placeholder="example@gmail.com"
      />
    </div>
    <div class="form-group">
      <label for="id_password">Password:</label>
      <div class="password-container">
        <input
          type="password"
          id="id_password"
          name="password"
          placeholder="8자 이상 숫자 포함"
          class="form-control password-input"
        />
        <button type="button" id="toggle-password" class="toggle-password">
          Show
        </button>
      </div>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" name="remember_me" /> Remember me</label>
      <a href="#" style="float: right">Forgot password?</a>
    </div>
    <button type="submit" class="btn btn-primary login-btn">Login</button>
    <p>
      Don't have an account? <a href="{% url 'accounts:register' %}">Sign up</a>
    </p>
  </form>
</div>
<script>
  document
    .querySelector("#toggle-password")
    .addEventListener("click", function () {
      const passwordInput = document.querySelector("#id_password");
      if (passwordInput.type === "password") {
        passwordInput.type = "text";
        this.textContent = "Hide";
      } else {
        passwordInput.type = "password";
        this.textContent = "Show";
      }
    });
</script>
{% endblock %}
