{% extends 'base.html' %} {% load static %} {% block content %}
<link rel="stylesheet" href="{% static 'accounts/css/login.css' %}" />

<div class="login-container">
  <div class="logo-container">
    <!-- 로고 이미지 대체 -->
    <img
      src="{% static 'images/SELLER_logo.png' %}"
      alt="Logo"
      width="200"
      height="auto;"
      class="d-inline-block align-text-top"
      style="display: inline-block; vertical-align: middle"
    />
  </div>
  <form action="/login/" method="post">
    {% csrf_token %}
    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="email"
        id="email"
        name="email"
        placeholder="example.email@gmail.com"
        required
      />
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        name="password"
        placeholder="Enter at least 8+ characters"
        required
      />
    </div>
    <div class="form-group">
      <input type="checkbox" id="remember_me" name="remember_me" />
      <label for="remember_me">Remember me</label>
    </div>
    <button type="submit" class="btn sign-in">Sign in</button>
    <a href="/forgot-password/" class="forgot-password">Forgot password?</a>
    <p>Don't have an account? <a href="/signup/">Sign up</a></p>
    <p>OR</p>
    <!-- Social Media Login Here -->
  </form>
</div>
<script>
  document
    .querySelector("#toggle-password")
    .addEventListener("click", function () {
      const passwordInput = document.querySelector("#id_password");
      if (passwordInput.type === "password") {
        passwordInput.type = "text";
        this.textContent = "Hide";
      } else {
        passwordInput.type = "password";
        this.textContent = "Show";
      }
    });
</script>
{% endblock %}
