<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.portone.io/v2/browser-sdk.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <!-- <button onclick="requestPay()">결제 등록</button> -->
    <script>
        async function requestPay() {
        const issueResponse = await PortOne.requestIssueBillingKey({
        storeId: "{{storeId}}",
        channelKey: "{{channelKey}}",
        billingKeyMethod: "EASY_PAY",
        issueName: "check"
    });

    // 빌링키 발급이 제대로 되지 않았을 경우 에러 처리
    if (issueResponse.code != null) {
        return alert(issueResponse.message);
    }

    // 발급된 빌링키를 서버에 전송
    try {
        const response = await fetch(`http://127.0.0.1:8000/payment/billings/`, {
            method: "POST",
            headers: { "Content-Type": "application/json" }, // header -> headers로 변경
            body: JSON.stringify({
                billingKey: issueResponse.billingKey
                // 추가적인 필드가 필요한 경우 여기에 기입
            }),
        });

        if (!response.ok) {
            throw new Error(`HTTP error: ${response.status} ${response.statusText}`);
        }

        // 성공적으로 빌링키를 서버에 저장한 후 처리하고자 하는 로직
        console.log("Billing key successfully sent to the server.");
        console.log(billingKey);
        
        window.location.href = "/orders/order_done/";
    } catch (error) {
        console.error(`Failed to send billing key: ${error.message}`);
    }
}   
requestPay() 
    </script>
</body>
</html>

<!-- 고객의 테이블에 빌링키를 저장함 테스트상황에서도 가능 -->