/* static/css/footer.css */
.footer-container {
  width: 100%;
  height: 100%;
  background: white;
  box-shadow: 0px 3px 6px rgba(18, 15, 40, 0.12);
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-content {
  width: 1440px;
  height: 434px;
  background: #f8f9fa;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.footer-item {
  color: #171a1f;
  word-wrap: break-word;
}

.terms,
.privacy,
.contact {
  font-size: 20px;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  line-height: 22px;
}

.follow-us {
  font-size: 20px;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  line-height: 36px;
}

.seller {
  font-size: 77px;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  line-height: 30px;
}

.notice {
  font-size: 11px;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  line-height: 22px;
}

.number,
.email {
  font-size: 14px;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  line-height: 22px;
}

.number-bold,
.email-bold {
  font-size: 14px;
  font-family: Poppins, sans-serif;
  font-weight: 700;
  line-height: 22px;
}

.copyright {
  font-size: 18px;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  line-height: 22px;
}

.footer-icon {
  width: 37px;
  height: 37px;
  position: relative;
}

.icon-1 {
  width: 29.69px;
  height: 24.05px;
  position: absolute;
  left: 3.61px;
  top: 6.47px;
  background: #171a1f;
}

.icon-2 {
  width: 29.6px;
  height: 29.42px;
  position: absolute;
  left: 3.7px;
  top: 3.7px;
  background: #171a1f;
}

.icon-3 {
  width: 27.75px;
  height: 27.75px;
  position: absolute;
  left: 4.62px;
  top: 4.62px;
  background: #171a1f;
}

.icon-4 {
  width: 29.6px;
  height: 20.91px;
  position: absolute;
  left: 3.7px;
  top: 8.05px;
  background: #171a1f;
}
