/* orders/static/orders/css/order_list.css */
.container {
    width: 100%;
    height: 100%;
    position: relative;
    background: white;
    box-shadow: 0px 3px 6px rgba(18, 15, 40, 0.12);
}

.title {
    left: 336px;
    top: 104px;
    position: absolute;
    color: #171A1F;
    font-size: 28px;
    font-family: Montserrat;
    font-weight: 700;
    line-height: 42px;
    word-wrap: break-word;
}

.subtitle {
    left: 336px;
    top: 150px;
    position: absolute;
    color: #171A1F;
    font-size: 16px;
    font-family: Poppins;
    font-weight: 400;
    line-height: 26px;
    word-wrap: break-word;
}

.order-card {
    width: 768px;
    height: 128px;
    left: 336px;
    position: absolute;
    background: white;
}

.order-info {
    width: 768px;
    height: 54px;
    left: 336px;
    top: 204px;
    position: absolute;
    background: white;
}

.order-detail {
    left: 99px;
    top: 16px;
    position: absolute;
    color: #171A1F;
    font-size: 14px;
    font-family: Poppins;
    font-weight: 400;
    line-height: 22px;
    word-wrap: break-word;
}

.order-number {
    left: 0px;
    top: 16px;
    position: absolute;
    color: #171A1F;
    font-size: 14px;
    font-family: Poppins;
    font-weight: 600;
    line-height: 22px;
    word-wrap: break-word;
}

.manage-order, .view-invoice {
    color: #171A1F;
    font-size: 14px;
    font-family: Poppins;
    font-weight: 400;
    text-decoration: underline;
    line-height: 22px;
    word-wrap: break-word;
}

.product-info {
    width: 768px;
    height: 128px;
    left: 336px;
    position: absolute;
    background: white;
}

.product-image {
    width: 148px;
    height: 128px;
    position: absolute;
}

.product-details {
    left: 168px;
    position: absolute;
    color: #171A1F;
    font-family: Poppins;
}

.product-name {
    top: 29px;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    word-wrap: break-word;
}

.product-quantity {
    top: 51px;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    word-wrap: break-word;
}

.product-price {
    top: 77px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.57px;
    word-wrap: break-word;
}

.buy-again {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 6px;
    padding-bottom: 6px;
    left: 616px;
    top: 26px;
    position: absolute;
    background: #565E6D;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    color: white;
    font-size: 12px;
    font-family: Poppins;
    font-weight: 400;
    line-height: 20px;
    word-wrap: break-word;
}

.view-product {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 10.50px;
    padding-right: 9.50px;
    left: 616px;
    top: 70px;
    position: absolute;
    background: #F3F4F6;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    color: #565E6D;
    font-size: 12px;
    font-family: Poppins;
    font-weight: 400;
    line-height: 20px;
    word-wrap: break-word;
}
