{% extends 'base.html' %}
{% block extra-style %}
<style>
    .content_header {
            width:100%;
            border-bottom: 1px solid black;
            margin-bottom: 24px;
        }
</style>
{% endblock %}

{% block content %}
<div class="container">
    <h3 style="font-size: 18px; 
    font-weight: bold; 
    color: #333;">주문 상세보기</h3>
     <div style="justify-content: space-between;    display: flex;    margin-bottom: 80px;"> 
    
        <div style="width:600px; margin-top:16px; margin-right:80px;">
            <div class="content_header"><span>고객정보</span></div>
            <table class="table table-striped table-hover">
                <tbody>
                    <tr>
                        <th scope="col">주문일자</th>
                        <td scope="col">{{object.order_date|date:'Y-m-d'}}</td>
                    </tr>
                    <tr>
                        <th scope="col">이메일</th>
                        <td scope="col">{{user}}</td>
                    </tr>
                    <tr>
                        <th scope="col">결제</th>
                        {% if object.pay_confirm %}
                        <td scope="col">⭕</td>
                        {% else %}
                        <td scope="col">❌</td>
                        {% endif %}
                    </tr>
                </tbody>
            
            </table>
      </div>
    
      <div style="width: 600px;">
        <div class="content_header"><span>주문상세내역</span></div>
        <table class="table table-striped table-hover">
            <tbody>
                <tr>
                    <th scope="col">카테고리</th>
                    <td scope="col">{{object.product.category}}</td>
                </tr>
                <tr>
                    <th scope="col">상품명</th>
                    <td scope="col">{{object.product}}</td>
                </tr>
                <tr>
                    <th scope="col">수량</th>
                    <td scope="col">{{object.amount}}</td>
                </tr>
                <tr>
                    <th scope="col">금액</th>
                    <td scope="col">{{object.total_price}}원</td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>

    <form action="{% url 'order:order_list' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-sm btn-outline-primary">주문목록</button>
    </form>
</div>
{% endblock %}