{% extends 'base.html' %}
{% load sum_tags %}

    <!-- title -->
    {% block title %}<title>Order</title>{% endblock %}
    <!-- style -->
    {% block extra-style %}
    <style>
        .content_header {
            width:100%;
            border-bottom: 1px solid black;
        }
        .PaymentSection_content{
            margin-top: 20px;
            margin-bottom: 20px;
            
            /* padding-top: 20px;
            padding-bottom: 20px; */
        }
        .content_title{
            width: 70px;
            padding-right: 12px;            
                            
           
        }

    </style>
    {% endblock %}
<!-- body -->

{% block content %}
<div class="container">
    <!-- h1>32px h2>24px  아이디어스 28px  -->
   
    
    <div style="display: flex; justify-content: space-between; align-items: center; width: 100%; margin: 40px 0 40px 0;">
        <span class="headline4-bold-small">주문 결제</span>
        <!-- 1 -->
        <div style="display:flex;">
            <div style="margin-right: 8px;">01</div><div style="margin-right: 8px;">장바구니</div>
        <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="BaseIcon mr-[8px] last:hidden" style="width: 20px; height: 20px; opacity: 1; fill: currentcolor; --BaseIcon-color: #d9d9d9;">
            <g clip-path="url(#clip0_124_2947)">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.53039 5.46973L15.5304 11.4697C15.7967 11.736 15.8209 12.1527 15.603 12.4463L15.5304 12.5304L9.53039 18.5304L8.46973 17.4697L13.9391 12.0001L8.46973 6.53039L9.53039 5.46973Z"></path>
            </g>            
            </svg>
        <!-- 2 active 확인필요-->
            <div style="display: flex;" class="flex DesktopOrderStepper--active">
                <div style="margin-right: 8px;">02</div><div style="margin-right: 8px;">주문결제</div>
            </div>
            <svg data-v-efa8f703="" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="BaseIcon mr-[8px] last:hidden" style="width: 20px; height: 20px; opacity: 1; fill: currentcolor; --BaseIcon-color: #d9d9d9;">
                <g clip-path="url(#clip0_124_2947)">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M9.53039 5.46973L15.5304 11.4697C15.7967 11.736 15.8209 12.1527 15.603 12.4463L15.5304 12.5304L9.53039 18.5304L8.46973 17.4697L13.9391 12.0001L8.46973 6.53039L9.53039 5.46973Z"></path>
                </g>                
            </svg>
        <!-- 3 -->
            <div style="display:flex;">
                <div style="margin-right: 8px;">03</div><div style="margin-right: 8px;">주문완료</div>
            </div>            
        </div>
    </div>


    

    <!-- 카트나 상품페이지에서 담긴 유저의 구매목록 -->
    <div style="justify-content: space-between;    display: flex;    margin-bottom: 80px;"> 
    
        <div style="width:800px; margin-top:16px; margin-right:80px;">
            <div style="margin-bottom: 28px;">
                <div class="PaymentSection_title">
                    <div class="content_header"><span>주문 고객</span>
                        <!---->
                    </div>                    
                </div>
                <div>
                    <div class="PaymentSection_content">
                        <div class="">
                            <span class="content_title">이름</span>
                            <span class="PaymentMember_content">{{user}}</span>
                        </div>
                        <div class="">
                            <span class="content_title">전화번호</span>
                            <span class="PaymentMember_content">{{user.phone_number}}</span>
                            <button type="outline" class="btn btn-sm btn-outline-primary" style="font-size: small; height: 28px; 
                            width: 76px;  margin-left: 20px; ">
                                <!---->
                                <span>변경하기</span>
                            </button>
                        </div>
                        <div class="PaymentMember__description">주문, 배송시 등록된 번호로 SMS를 발송해 드립니다.</div>
                        <!---->
                    </div>
                        
                </div>
                </div>
                <div class="DesktopPaymentProductDelivery mb-[28px]">
                    <div class="DeliveryInformation white--background w-full flex flex-col">
                        <div class="flex justify-between items-center py-[16px] border-b border-[#333333]">
                            <div class="content_header">배송 정보</div>
                            <!---->
                        </div>
                        <div>
                            <div style="display: flex; 
                            justify-content: 
                            space-between; 
                            align-items: center;
                            flex-direction: column;
                            padding-top: 20px;
                            padding-bottom: 20px;
                            flex-direction: column;
                            padding-top: 20px;
                            padding-bottom: 20px;">
                                <div class="PaymentSection_content">
                                <p class="mb-[8px] subtitle3-bold-medium">등록된 배송지가 없습니다</p>
                                <p class="mb-[16px] body1-regular-medium">배송지 추가하기 버튼을 눌러 주소를 입력해주세요</p>
                                <button type="outline" class="btn btn-sm btn-outline-primary">
                                    <svg  width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="BaseIcon CoreButton__icon" style="width: 20px; height: 20px; opacity: 1; fill: currentcolor; --BaseIcon-color: #333333; margin-right: 2px;">
                                        <g clip-path="url(#clip0_124_2960)"><path fill-rule="evenodd" clip-rule="evenodd" d="M12.75 5V11.25H19V12.75H12.75V19H11.25V12.75H5V11.25H11.25V5H12.75Z"></path>
                                        </g>
                                        
                                    </svg>
                                    <span >배송지 추가하기</span>
                                </button>
                                </div>
                            </div>
                            <!---->
                        </div>
                        <!---->
                    </div>                   
                </div>
                <div class="DesktopPaymentSection mb-[28px]">
                    <div class="DesktopPaymentSection__title">
                        <div class="content_header">
                            <span>주문 정보 ({{ object|length }})</span>
                            <!---->
                        </div>
                        
                    </div>
                    <div>
                        <div class="PaymentSection_content">
                            {% for item in object %}
                            <div style="display: flex;
                            flex-direction: column;
                            width: 100%;
                            margin-bottom: 12px;
                            ">                                
                                <div class="PaymentOrderList" style="display: flex;">
                                    <div class="BaseImage" style="margin-right:12px;">
                                        <div class="BaseImage_image">                                            
                                            <img style="width: 50px; border-radius: 8px;" src="{{ product.image.url }}"loading="lazy">
                                        </div>
                                    </div>
                                    <!--flex: 1; 아이템들 사이에 균등한 공간을 주기 위해 설정.-->
                                    <div class="PaymentOrderList_Info" style="flex: 1;">
                                        <div class="PaymentOrderList_productName"style="margin-bottom:12px;">
                                            <div style="display:flex;">
                                                <div  style="align-items: center;">{{item.product.product_name}}</div>
                                                <!---->
                                            </div>
                                        </div>
                                       <div>
                                            <div style="display:flex; justify-content: space-between;  margin-bottom: 12px;">
                                                <span>• 메뉴 : {{item.product.product_name}}</span>
                                                
                                                <div style=" justify-content: flex-end;">
                                                    <span >{{item.amount}}개</span>
                                                    <span class="mx-[4px]">/</span>
                                                    <span>{{item.product.price}}원</span>
                                                </div>
                                            </div>
                                        </div>
                                        <!---->
                                    </div>
                                </div>
                                <div class="PaymentOrderList_Total">
                                    <div style="display:flex; justify-content:space-between; margin-bottom: 8px;">
                                        <span>배송비</span>
                                        <span>무료배송</span>
                                    </div>
                                    <!---->
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <!---->
                    </div>
                </div>
                <!----><!---->
                <div class="DesktopPaymentSection PaymentProductPayMethod">
                    <div class="PaymentSection_title">
                        <div class="content_header">
                            <span >결제 수단</span>                           
                            <!---->
                        </div>
                        <div class="PaymentSection_content">
                            <span>간편 비밀번호 결제</span>
                            <!---->
                        </div>
                    </div>
                   
                    </div>
                    </div>
                    <div style="width: 400px;">
                        <div class="PaymentProduct_Total">
                            <div class="PaymentProductTotal">
                                <div class="PaymentSection">
                                    <div class="PaymentSection_title">
                                        <div class="content_header"><span >결제 정보</span>
                                            <!---->
                                        </div>
                                        
                                    </div>
                                    <div >
                                        <div class="PaymentSection_content" style="display: flex; justify-content: space-between;">
                                            <div class="body1-regular-small">작품금액</div>
                                            <div class="DesktopPaymentProductTotal__price">{% sum_prices object %}원</div>
                                        </div>
                                        <div  class="PaymentSection_content" style="display: flex; justify-content: space-between;">
                                            <div  class="body1-regular-small">배송비</div>
                                            <div  class="DesktopPaymentProductTotal__price">무료배송</div>
                                        </div>
                                        <!---->
                                        
                                        <div style="display: flex; justify-content: space-between;">
                                            <div style="font-weight: bold;">최종 결제금액</div>
                                            <div class="text-right">
                                                <div>{% sum_prices object %}원</div>
                                            </div>
                                        </div>                                    
                                        <div class="PaymentNotice DesktopPaymentProductTotal__terms">
                                            <div  class="PaymentNotice__title">
                                                <input type="checkbox">
                                                <span style="font-size: small; color:#333;">결제 시 개인정보 제공에 동의합니다.</span>
                                                 </div>
                                            <div class="PaymentNotice__content" style="display: none;">
                                                ‣ 제공받는 자 : 
                                                <b style=" font-weight: bold;">{{user.role}}</b>
                                                <br>
                                                ‣ 목적 : 
                                                <b style=" font-weight: bold;">
                                                    판매자와 구매자 사이의 원활한 거래 진행, 상품의 배송을 위한 배송지 확인, 고객상담 및 불만처리 등
                                                </b>
                                                <br>
                                                ‣ 정보 : 주문자 정보(성명, 연락처), 수령인 정보(성명, 연락처, 주소)
                                                <br>
                                                ‣ 보유기간 : 
                                                <b style=" font-weight: bold;">발송완료 후 15일</b>
                                                <br>
                                                <br>
                                                SELLER는 통신판매중개자이며 통신판매의 당사자가 아닙니다. 따라서 SELLER는 상품 거래정보 및 거래에 대하여 책임을 지지 않습니다.
                                                <br>고객님께서는 개인정보 제공에 대하여 동의를 거부하실 수 있으나, 거부 시 상품 구매가 어렵습니다.
                                            </div>
                                        </div>
                                            <form method="post">
                                                {% csrf_token %}                                                
                                                <!-- 모달 버튼 -->
                                                <button type="button"
                                                class="btn btn-sm btn-outline-primary"
                                                data-bs-toggle="modal"
                                                data-bs-target="#pay-modal"
                                                data-bs-userName="{{user}}"                                                
                                                data-bs-price="{{price}}"
                                                >결제하기</button>
                                        
                                            </form>
                                        <!---->
                                        <!-- 모달 -->
                                        <div class="modal fade" id="pay-modal" tabindex="-1">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">상품 결제</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <!-- 결제 폼-->
                                                        <form id="payment-btn" action="{% url 'order:order_done' %}" method="post">
                                                            {% csrf_token %}
                                                            <!-- 주문자 이름 -->
                                                            <div class="mb-3">
                                                                <label class="form-label">주문자</label>
                                                                <input class="form-control form-control-sm" id="userName" value="{{user}}" readonly>
                                                            </div>
                                                            <!-- 상품 이름 -->
                                                            <div class="mb-3">
                                                                <label class="form-label">총금액</label>
                                                                <input class="form-control form-control-sm" id="productPrice" value="{% sum_prices object %}" readonly >
                                                            </div>
                                                            <!-- 상품 가격 -->
                                                            <div class="mb-3">
                                                                <label class="form-label">결제 비밀번호</label>
                                                                <input class="form-control form-control-sm" id="user-password">
                                                            </div>
                                                            <!-- 히든 인풋 -->
                                                            <input type="hidden" id="productId">
                                                            <!-- 전송 버튼 -->
                                                            <button type="button" class="btn btn-outline-primary btn-sm" id="pay-btn" onclick="get_alert_password()"
                                                                    >결제</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <!---->
        </div>
    
 
</div>



<script>
    function get_alert_password() {      
        user_password = document.getElementById('user-password').value
        if(user_password == '1') {
            alert('비밀번호가 확인되었습니다. 입력한 비밀번호: ' + user_password );
            // 비밀번호 맞으면 폼제출
            document.getElementById('payment-btn').submit();
        } else {
            alert('비밀번호가 맞지 않습니다.');
        }
    } 
    {
     //모달 버튼 변수화
     const payModal = document.querySelectorAll("#pay-modal");
    //모달 이벤트
    payModal.forEach(btn => {
        btn.addEventListener("show.bs.modal", (event) => {
            //트리거 버튼 선택
            const triggerBtn = event.relatedTarget;
            //데이터 가져옴
            const userName = triggerBtn.getAttribute("data-bs-userName");
            // const productName = triggerBtn.getAttribute("data-bs-productName");
            const productPrice = triggerBtn.getAttribute("data-bs-price");

            //데이터 반영
            document.querySelector("#userName").value = userName;
            document.querySelector("#productName").value = productPrice;
            // document.querySelector("#productPrice").value = productPrice;
        });
    });
    }
    
</script>
{% endblock %}

