<!-- ***************************** idus css 참조.html -->
<!-- *****************************삭제예정.html -->

<!-- ***************************** 결제방법  -->
<div data-v-531f2b37="">
    <div data-v-695a71dd="" class="DesktopPaymentPayMethod mt-[20px] mb-[10px]">
        <div data-v-695a71dd="" class="py-[12px]">
            <label data-v-161645a1="" data-v-695a71dd="" class="BaseRadio BaseRadio__verticalAlign--center BaseRadio__state--checked DesktopPaymentPayMethod__radio" id="1" style="--BaseRadio--label-margin: 4;">
                <input data-v-161645a1="" type="radio" class="BaseRadio__input" value="1">
                <span data-v-161645a1="" class="BaseRadio__button">
                    <span data-v-161645a1="" class="BaseRadio__buttonOuterCircle">
                        <span data-v-161645a1="" class="BaseRadio__buttonInnerCircle"></span>
                    </span>
                </span>
                <span data-v-161645a1="" class="BaseRadio__textSlot">
                    <div data-v-9d44b6d7="" data-v-695a71dd="" class="DesktopPaymentPayMethodSimpleCard">
                        <div data-v-9d44b6d7="" class="DesktopPaymentPayMethodSimpleCard__payMethod">
                            <div data-v-9d44b6d7="" class="flex items-center">
                                <span data-v-9d44b6d7="" class="DesktopPaymentPayMethodSimpleCard__title">간편 카드 결제</span>
                                <span data-v-9d44b6d7="" class="flex ml-[8px]">
                                    <div data-v-be920368="" data-v-9d44b6d7="" class="BaseBadgeBusiness BaseBadgeBusiness__colorType--orange-50 BaseBadgeBusiness__size--medium mr-[4px]" style="font-weight: bold;">
                                        <!----> 혜택 
                                    </div>
                                    <span data-v-9d44b6d7="" class="DesktopPaymentPayMethodSimpleCard__benefit">5만원 이상 무이자할부</span>
                                </span>
                            </div>
                            <!---->
                        </div>
                        <div data-v-9d44b6d7="" class="gray-f5--background p-[6px] mt-[10px] rounded-[2px]">
                            <div data-v-9d44b6d7="" class="mb-[4px] last:mb-[0px]">
                                <span data-v-9d44b6d7="" class="body3-bold-small gray-666--text">- 비씨, 우리, 삼성, 현대, 신한</span>
                                <span data-v-9d44b6d7="" class="body3-regular-small ml-[4px] gray-666--text">5만원 이상 2~3개월 무이자</span>
                            </div>
                            <div data-v-9d44b6d7="" class="mb-[4px] last:mb-[0px]">
                                <span data-v-9d44b6d7="" class="body3-bold-small gray-666--text">- KB국민, 롯데, 하나, 전북, 수협</span>
                                <span data-v-9d44b6d7="" class="body3-regular-small ml-[4px] gray-666--text">5만원 이상 2~3개월 무이자</span>
                            </div>
                            <div data-v-9d44b6d7="" class="mb-[4px] last:mb-[0px]">
                                <span data-v-9d44b6d7="" class="body3-bold-small gray-666--text">- NH농협</span>
                                <span data-v-9d44b6d7="" class="body3-regular-small ml-[4px] gray-666--text">5만원 이상 2~4개월 무이자</span>
                            </div>
                            <div data-v-9d44b6d7="" class="mb-[4px] last:mb-[0px]">
                                <span data-v-9d44b6d7="" class="body3-bold-small gray-666--text">- 광주</span>
                                <span data-v-9d44b6d7="" class="body3-regular-small ml-[4px] gray-666--text">5만원 이상 2~7개월 무이자</span>
                            </div>
                        </div>
                        <div data-v-9d44b6d7="" class="DesktopPaymentPayMethodSimpleCard__noCard mt-[12px] mb-[12px]">
                            <div data-v-9d44b6d7="" class="body2-regular-small gray-666--text mb-[8px]"> 간편하게 카드 등록하고 1초만에 결제하세요 </div>
                            <button data-v-9af5cf42="" data-v-91eac953="" data-v-9d44b6d7="" type="outline" class="CoreButton BaseButtonRectangle body1-regular-small BaseButtonRectangle__outline" style="background-color: rgb(255, 255, 255); color: rgb(239, 112, 20); height: 36px; width: 200px; flex-direction: row; --core-button-padding-x: 8; --button-rectangle-border-color: #ef7014;">
                                <svg data-v-9bea824c="" data-v-9af5cf42="" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="BaseIcon CoreButton__icon" style="width: 18px; height: 18px; opacity: 1; fill: currentcolor; --BaseIcon-color: #333333; margin-right: 2px;">
                                    <g clip-path="url(#clip0_124_2960)">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M12.75 5V11.25H19V12.75H12.75V19H11.25V12.75H5V11.25H11.25V5H12.75Z"></path>
                                    </g>
                                    <defs><clipPath id="clip0_124_2960"><rect width="24" height="24"></rect></clipPath></defs>
                                </svg>
                                <span data-v-9af5cf42="">카드 추가</span>
                            </button>
                        </div>
                    </div>
                </span>
            </label>
        </div>
        <div data-v-695a71dd="" class="py-[12px]">
            <label data-v-161645a1="" data-v-695a71dd="" class="BaseRadio BaseRadio__verticalAlign--center BaseRadio__state--unChecked DesktopPaymentPayMethod__radio" id="2" style="--BaseRadio--label-margin: 4;">
                <input data-v-161645a1="" type="radio" class="BaseRadio__input" value="2">
                <span data-v-161645a1="" class="BaseRadio__button">
                    <span data-v-161645a1="" class="BaseRadio__buttonOuterCircle">
                        <span data-v-161645a1="" class="BaseRadio__buttonInnerCircle"></span>
                    </span>
                </span>
                <span data-v-161645a1="" class="BaseRadio__textSlot">
                    <div data-v-695a71dd="" class="flex flex-col flex-1">
                        <div data-v-695a71dd="" class="DesktopPaymentPayMethod__payMethod">
                            <!---->
                            <span data-v-695a71dd="" class="DesktopPaymentPayMethod__title">일반 카드 결제</span>
                            <!---->
                        </div>
                        <!---->
                    </div>
                </span>
            </label>
        </div>
        <div data-v-695a71dd="" class="py-[12px]">
            <label data-v-161645a1="" data-v-695a71dd="" class="BaseRadio BaseRadio__verticalAlign--center BaseRadio__state--unChecked DesktopPaymentPayMethod__radio" id="8" style="--BaseRadio--label-margin: 4;">
                <input data-v-161645a1="" type="radio" class="BaseRadio__input" value="8">
                <span data-v-161645a1="" class="BaseRadio__button">
                    <span data-v-161645a1="" class="BaseRadio__buttonOuterCircle">
                        <span data-v-161645a1="" class="BaseRadio__buttonInnerCircle"></span>
                    </span>
                </span>
                <span data-v-161645a1="" class="BaseRadio__textSlot">
                    <div data-v-695a71dd="" class="flex flex-col flex-1">
                        <div data-v-695a71dd="" class="DesktopPaymentPayMethod__payMethod">
                            <img data-v-695a71dd="" class="DesktopPaymentPayMethod__image" src="https://image.idus.com/image/files/e6af2ece0e484d0bac914438fa210c5f.png">
                            <!----><!---->
                        </div>
                        <!---->
                    </div>
                </span>
            </label>
        </div>
        <div data-v-695a71dd="" class="py-[12px]">
            <label data-v-161645a1="" data-v-695a71dd="" class="BaseRadio BaseRadio__verticalAlign--center BaseRadio__state--unChecked DesktopPaymentPayMethod__radio" id="9" style="--BaseRadio--label-margin: 4;">
                <input data-v-161645a1="" type="radio" class="BaseRadio__input" value="9">
                <span data-v-161645a1="" class="BaseRadio__button">
                    <span data-v-161645a1="" class="BaseRadio__buttonOuterCircle">
                        <span data-v-161645a1="" class="BaseRadio__buttonInnerCircle"></span>
                    </span>
                </span>
                <span data-v-161645a1="" class="BaseRadio__textSlot">
                    <div data-v-695a71dd="" class="flex flex-col flex-1">
                        <div data-v-695a71dd="" class="DesktopPaymentPayMethod__payMethod">
                            <img data-v-695a71dd="" class="DesktopPaymentPayMethod__image" src="https://image.idus.com/image/files/b96aa5e6f28d481c85cc0f858e2cee06.png">
                            <!----><!---->
                        </div>
                        <!---->
                    </div>
                </span>
            </label>
        </div>
        <div data-v-695a71dd="" class="py-[12px]">
            <label data-v-161645a1="" data-v-695a71dd="" class="BaseRadio BaseRadio__verticalAlign--center BaseRadio__state--unChecked DesktopPaymentPayMethod__radio" id="7" style="--BaseRadio--label-margin: 4;">
                <input data-v-161645a1="" type="radio" class="BaseRadio__input" value="7">
                <span data-v-161645a1="" class="BaseRadio__button">
                    <span data-v-161645a1="" class="BaseRadio__buttonOuterCircle">
                        <span data-v-161645a1="" class="BaseRadio__buttonInnerCircle"></span>
                    </span>
                </span>
                <span data-v-161645a1="" class="BaseRadio__textSlot">
                    <div data-v-695a71dd="" class="flex flex-col flex-1">
                        <div data-v-695a71dd="" class="DesktopPaymentPayMethod__payMethod">
                            <img data-v-695a71dd="" class="DesktopPaymentPayMethod__image" src="https://image.idus.com/image/files/24c424391ce3410d90d7561ea76cd557.png">
                            <!---->
                            <span data-v-695a71dd="" class="ml-[8px]">
                                <div data-v-be920368="" data-v-695a71dd="" class="BaseBadgeBusiness BaseBadgeBusiness__colorType--orange-50 BaseBadgeBusiness__size--medium mr-[4px]" style="font-weight: bold;">
                                    <!----> 혜택 
                                </div>
                                <span data-v-695a71dd="" class="DesktopPaymentPayMethod__benefit">첫 결제 시 2천원 캐시백</span>
                            </span>
                        </div>
                        <!---->
                    </div>
                </span>
            </label>
        </div>
        <div data-v-695a71dd="" class="py-[12px]">
            <label data-v-161645a1="" data-v-695a71dd="" class="BaseRadio BaseRadio__verticalAlign--center BaseRadio__state--unChecked DesktopPaymentPayMethod__radio" id="3" style="--BaseRadio--label-margin: 4;">
                <input data-v-161645a1="" type="radio" class="BaseRadio__input" value="3">
                <span data-v-161645a1="" class="BaseRadio__button">
                    <span data-v-161645a1="" class="BaseRadio__buttonOuterCircle">
                        <span data-v-161645a1="" class="BaseRadio__buttonInnerCircle"></span>
                    </span>
                </span>
                <span data-v-161645a1="" class="BaseRadio__textSlot">
                    <div data-v-695a71dd="" class="flex flex-col flex-1">
                        <div data-v-695a71dd="" class="DesktopPaymentPayMethod__payMethod">
                            <img data-v-695a71dd="" class="DesktopPaymentPayMethod__image" src="https://image.idus.com/image/files/756efae428d54f2fbcac29768a730d3b.png">
                            <!---->
                            <span data-v-695a71dd="" class="ml-[8px]">
                                <div data-v-be920368="" data-v-695a71dd="" class="BaseBadgeBusiness BaseBadgeBusiness__colorType--orange-50 BaseBadgeBusiness__size--medium mr-[4px]" style="font-weight: bold;"><!----> 혜택 
                                </div>
                                <span data-v-695a71dd="" class="DesktopPaymentPayMethod__benefit">최대 2% 네이버페이 포인트 적립</span>
                            </span>
                        </div>
                        <!---->
                    </div>
                </span>
            </label>
        </div>
        <div data-v-695a71dd="" class="py-[12px]"><label data-v-161645a1="" data-v-695a71dd="" class="BaseRadio BaseRadio__verticalAlign--center BaseRadio__state--unChecked DesktopPaymentPayMethod__radio" id="4" style="--BaseRadio--label-margin: 4;"><input data-v-161645a1="" type="radio" class="BaseRadio__input" value="4"><span data-v-161645a1="" class="BaseRadio__button"><span data-v-161645a1="" class="BaseRadio__buttonOuterCircle"><span data-v-161645a1="" class="BaseRadio__buttonInnerCircle"></span></span></span><span data-v-161645a1="" class="BaseRadio__textSlot">
            <div data-v-695a71dd="" class="flex flex-col flex-1">
                <div data-v-695a71dd="" class="DesktopPaymentPayMethod__payMethod">
                    <!----><span data-v-695a71dd="" class="DesktopPaymentPayMethod__title">계좌이체/무통장입금</span>
                    <!---->
                </div>
                <!---->
            </div>
        </span></label></div>
<div data-v-695a71dd="" class="py-[12px]"><label data-v-161645a1="" data-v-695a71dd="" class="BaseRadio BaseRadio__verticalAlign--center BaseRadio__state--unChecked DesktopPaymentPayMethod__radio" id="5" style="--BaseRadio--label-margin: 4;"><input data-v-161645a1="" type="radio" class="BaseRadio__input" value="5"><span data-v-161645a1="" class="BaseRadio__button"><span data-v-161645a1="" class="BaseRadio__buttonOuterCircle"><span data-v-161645a1="" class="BaseRadio__buttonInnerCircle"></span></span></span><span data-v-161645a1="" class="BaseRadio__textSlot">
            <div data-v-695a71dd="" class="flex flex-col flex-1">
                <div data-v-695a71dd="" class="DesktopPaymentPayMethod__payMethod">
                    <!----><span data-v-695a71dd="" class="DesktopPaymentPayMethod__title">휴대폰 결제</span>
                    <!---->
                </div>
                <!---->
            </div>
        </span></label></div>
</div>
<div data-v-531f2b37="" class="DesktopPaymentSection__divider mt-[8px]"></div>
</div>


<!-- *****************************작가님 후원 -->
<div data-v-dcdf51ae="" class="flex items-center"><span data-v-dcdf51ae="" class="body1-regular-small gray-333--text mr-[4px]">작가님을 후원합니다.</span>
    <div data-v-e3e7173b="" data-v-dcdf51ae="" class="IDSTooltip__wrapper IDSTooltip__display--close IDSTooltip__colorType--white IDSTooltip__innerPosition--bottom IDSTooltip__innerAlign--center IDSTooltip__innerCloseAlign--center">
        <div data-v-e3e7173b="" class="IDSTooltip__trigger"><button data-v-9af5cf42="" data-v-7a42d771="" data-v-dcdf51ae="" type="button" class="CoreButton BaseButtonIcon" style="background-color: transparent; color: rgb(153, 153, 153); height: 20px; flex-direction: column;"><svg data-v-9bea824c="" data-v-9af5cf42="" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="BaseIcon CoreButton__icon" style="width: 20px; height: 20px; opacity: 1; fill: currentcolor; --BaseIcon-color: #333333; margin-bottom: 0px;">
                    <g clip-path="url(#clip0_124_3028)">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2ZM12 3.5C7.30558 3.5 3.5 7.30558 3.5 12C3.5 16.6944 7.30558 20.5 12 20.5C16.6944 20.5 20.5 16.6944 20.5 12C20.5 7.30558 16.6944 3.5 12 3.5ZM12.75 11V17H11.25V11H12.75ZM12.75 7V9H11.25V7H12.75Z"></path>
                    </g>
                    <defs>
                        <clipPath id="clip0_124_3028">
                            <rect width="24" height="24"></rect>
                        </clipPath>
                    </defs>
                </svg>
                <!----></button></div>
        <div data-v-e3e7173b="" class="IDSTooltip__container">
            <div data-v-e3e7173b="" class="IDSTooltip__tip">
                <div data-v-e3e7173b="" class="IDSTooltip__tipContents"></div>
            </div>
            <div data-v-e3e7173b="" class="IDSTooltip">
                <div data-v-e3e7173b="" class="IDSTooltip__contents">
                    <!---->
                    <div data-v-e3e7173b="" class="flex w-full">
                        <div data-v-e3e7173b="" class="p-[4px] grow">
                            <div data-v-dcdf51ae="" class="flex flex-col w-[280px] p-[8px]"><span data-v-dcdf51ae="" class="flex body2-bold-small gray-333--text mb-[6px]">작가님 후원하기란?</span>
                                <li data-v-dcdf51ae="" class="flex body3-regular-medium gray-666--text">・ 결제 금액에 일부 금액을 추가하여 후원하는 기능입니다.</li>
                                <li data-v-dcdf51ae="" class="flex body3-regular-medium gray-666--text">・ 최대 1,000원까지 후원되며 구매 작품의 작가님이 여러 명일 경우, 각 작가님에게 나누어 지급됩니다.</li>
                                <li data-v-dcdf51ae="" class="flex body3-regular-medium gray-666--text">・ 추가된 후원액은 전액 작가님에게 전달되며 작가님의 작품 활동에 작지만 큰 도움을 줄 수 있습니다.</li>
                            </div>
                        </div>
                        <div data-v-e3e7173b="" class="w-[4px]"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--***************************** 결제하기버튼 -->
<button    type="fill" class="CoreButton CoreButton--block BaseButtonRectangle subtitle3-bold-small BaseButtonRectangle__fill mt-[16px]" style="background-color: #0ECEDA; color: rgb(255, 255, 255); height: 44px; flex-direction: row; --core-button-padding-x: 16; font-weight: bold;">
    <!----><span >결제하기</span></button>




<!--***************************** order_detail / css 참고 -->
{#% extends 'base.html' %#}
{% load sum_tags %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- title -->
    {% block title %}<title>Order</title>{% endblock %}
    <!-- style -->
    {% block extra-style %}
    <style>
        .content_header {
            width:100%;
            border-bottom: 10px solid black;
        }

    </style>
    {% endblock %}
</head>
<!-- body -->

<body>
{#% block content %#}
<div class="container">
    <!-- h1>32px h2>24px  아이디어스 28px  -->
    <h2>주문 / 결제</h2>
    
    <div style="display: flex; justify-content: space-between; align-items: center; width: 100%; margin: 40px 0 40px 0;">
        <span class="headline4-bold-small">주문 결제</span>
        <!-- 1 -->
        <div style="display:flex;">
            <div style="margin-right: 8px;">01</div><div style="margin-right: 8px;">장바구니</div>
        <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="BaseIcon mr-[8px] last:hidden" style="width: 20px; height: 20px; opacity: 1; fill: currentcolor; --BaseIcon-color: #d9d9d9;">
            <g clip-path="url(#clip0_124_2947)">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.53039 5.46973L15.5304 11.4697C15.7967 11.736 15.8209 12.1527 15.603 12.4463L15.5304 12.5304L9.53039 18.5304L8.46973 17.4697L13.9391 12.0001L8.46973 6.53039L9.53039 5.46973Z"></path>
            </g>
            <defs>
                <clipPath id="clip0_124_2947"><rect width="24" height="24"></rect></clipPath></defs>
            </svg>
        <!-- 2 active 확인필요-->
            <div style="display: flex;" class="flex DesktopOrderStepper--active">
                <div style="margin-right: 8px;">02</div><div style="margin-right: 8px;">주문결제</div>
            </div>
            <svg data-v-9bea824c="" data-v-efa8f703="" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="BaseIcon mr-[8px] last:hidden" style="width: 20px; height: 20px; opacity: 1; fill: currentcolor; --BaseIcon-color: #d9d9d9;">
                <g clip-path="url(#clip0_124_2947)">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M9.53039 5.46973L15.5304 11.4697C15.7967 11.736 15.8209 12.1527 15.603 12.4463L15.5304 12.5304L9.53039 18.5304L8.46973 17.4697L13.9391 12.0001L8.46973 6.53039L9.53039 5.46973Z"></path>
                </g>
                <defs>
                    <clipPath id="clip0_124_2947"><rect width="24" height="24"></rect></clipPath>
                </defs>
            </svg>
        <!-- 3 -->
            <div style="display:flex;">
                <div style="margin-right: 8px;">03</div><div style="margin-right: 8px;">주문완료</div>
            </div>            
        </div>
    </div>


    
    <h2>{{object}}</h2>
    <!-- 카트나 상품페이지에서 담긴 유저의 구매목록 -->
    <div style="justify-content: space-between;    display: flex;    margin-bottom: 80px;"> 
    
        <div style="width:800px; margin-top:16px; margin-right:80px;">
            <div class="DesktopPaymentSection mb-[28px]">
                <div class="DesktopPaymentSection__title">
                    <div class="content_header"><span>주문 고객</span>
                        <!---->
                    </div>
                    <div class="DesktopPaymentSection__right">
                        <!---->
                    </div>
                </div>
                <div>
                    <div class="mt-[20px] mb-[20px]">
                        <div class="DesktopPaymentProductMember__row">
                            <span class="DesktopPaymentProductMember__title w-[70px] pr-[12px]">이름</span>
                            <span class="DesktopPaymentProductMember__content">SELLER</span>
                        </div>
                        <div class="DesktopPaymentProductMember__row">
                            <span class="DesktopPaymentProductMember__title w-[70px] pr-[12px]">전화번호</span>
                            <span class="DesktopPaymentProductMember__content">010-****-****</span>
                            <button type="outline" class="CoreButton BaseButtonRectangle body3-regular-small BaseButtonRectangle__outline ml-[20px]" style="background-color: rgb(255, 255, 255); color: rgb(51, 51, 51); height: 28px; width: 76px; flex-direction: row; --core-button-padding-x: 8; --button-rectangle-border-color: #acacac;">
                                <!---->
                                <span>변경하기</span>
                            </button>
                        </div>
                        <div class="DesktopPaymentProductMember__description">주문, 배송시 등록된 번호로 SMS를 발송해 드립니다.</div>
                        <!----></div>
                        <div class="DesktopPaymentSection__divider mt-[8px]"></div>
                    </div>
                </div>
                <div class="DesktopPaymentProductDelivery mb-[28px]">
                    <div class="DeliveryInformation white--background w-full flex flex-col">
                        <div class="flex justify-between items-center py-[16px] border-b border-[#333333]">
                            <div class="content_header">배송 정보</div>
                            <!---->
                        </div>
                        <div>
                            <div class="flex flex-col justify-center items-center py-[20px]">
                                <p class="mb-[8px] subtitle3-bold-medium">등록된 배송지가 없습니다</p>
                                <p class="mb-[16px] body1-regular-medium">배송지 추가하기 버튼을 눌러 주소를 입력해주세요</p>
                                <button type="outline" class="CoreButton BaseButtonRectangle subtitle3-bold-small BaseButtonRectangle__outline" style="background-color: rgb(255, 255, 255); color: #0ECEDA; height: 44px; width: 280px; flex-direction: row; --core-button-padding-x: 16; --button-rectangle-border-color: #ef7014;">
                                    <svg  width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="BaseIcon CoreButton__icon" style="width: 20px; height: 20px; opacity: 1; fill: currentcolor; --BaseIcon-color: #333333; margin-right: 2px;">
                                        <g clip-path="url(#clip0_124_2960)"><path fill-rule="evenodd" clip-rule="evenodd" d="M12.75 5V11.25H19V12.75H12.75V19H11.25V12.75H5V11.25H11.25V5H12.75Z"></path>
                                        </g>
                                        <defs><clipPath id="clip0_124_2960"><rect width="24" height="24"></rect></clipPath>
                                        </defs>
                                    </svg>
                                    <span >배송지 추가하기</span>
                                </button>
                            </div>
                            <!---->
                        </div>
                        <!---->
                    </div>
                    <div  class="DesktopPaymentProductDelivery__divider">

                    </div>
                </div>
                <div class="DesktopPaymentSection mb-[28px]">
                    <div class="DesktopPaymentSection__title">
                        <div class="content_header">
                            <span>주문 정보 ({{ object|length }})</span>
                            <!---->
                        </div>
                        <div class="DesktopPaymentSection__right">
                            <button  type="button" class="CoreButton BaseButtonIcon" style="background-color: transparent; color: rgb(51, 51, 51); height: 20px; flex-direction: column;">
                                <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="BaseIcon CoreButton__icon" style="width: 20px; height: 20px; opacity: 1; fill: currentcolor; --BaseIcon-color: #333333; margin-bottom: 0px;">
                                    <g clip-path="url(#clip0_124_2948)">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M11.4697 8.46967C11.736 8.2034 12.1527 8.1792 12.4463 8.39705L12.5304 8.46967L18.5304 14.4697L17.4697 15.5303L12.0001 10.061L6.53039 15.5303L5.46973 14.4697L11.4697 8.46967Z"></path>
                                    </g>
                                    <defs><clipPath id="clip0_124_2948"><rect width="24" height="24"></rect></clipPath></defs>
                                </svg>
                                <!---->
                            </button>
                        </div>
                    </div>
                    <div>
                        <div class="DesktopPaymentProductOrderList mt-[12px]">
                            {% for item in object %}
                            <div class="flex flex-col w-full mb-[12px]">
                                <div>브랜드 - ***</div>
                                <div class="DesktopPaymentProductOrderList__productItem">
                                    <div class="BaseImage BaseImage__fixedWidth BaseImage__fixedHeight mr-[12px]" style="--BaseImage-width: 64; --BaseImage-height: 64; --BaseImage-radius: 2;">
                                        <div class="BaseImage__image">
                                            img
                                            <img src=""loading="lazy">
                                        </div>
                                    </div>
                                    <div class="DesktopPaymentProductOrderList__productInfo">
                                        <div class="DesktopPaymentProductOrderList__productName mb-[12px]">
                                            <div class="flex flex-auto items-start">
                                                <div class="flex flex-auto items-center">{{item.product_name}}</div>
                                                <!---->
                                            </div>
                                        </div>
                                       <div >
                                            <div class="flex justify-between items-center mb-[12px]">
                                                <span class="body3-regular-small gray-666--text whitespace-pre-wrap">• 메뉴 : 랜덤마카롱 {{item.quantity}}개({{item.total_price}})</span>
                                                <div class="flex justify-end w-[124px]">
                                                    <span class="body3-regular-medium gray-333--text">{{item.quantity}}개</span>
                                                    <span class="body3-regular-medium gray-333--text mx-[4px]">/</span>
                                                    <span class="body3-bold-medium gray-333--text">{{item.price}}원</span>
                                                </div>
                                            </div>
                                            <div class="DesktopPaymentProductOrderList__divider mb-[12px]" style="display: none;">
                                            </div>
                                        </div>
                                        <!---->
                                        <div class="DesktopPaymentProductOrderList__divider">

                                        </div>
                                    </div>
                                </div>
                                <div class="DesktopPaymentProductOrderList__artistTotal">
                                    <div class="flex justify-between mb-[8px]">
                                        <span class="body3-regular-small gray-333--text">배송비</span>
                                        <span class="body3-bold-small gray-333--text">3,000원</span>
                                    </div>
                                    <!---->
                                </div>
                                <div class="DesktopPaymentProductOrderList__divider mt-[12px]" style="display: none;">
                                </div>
                            </div>
                            <!---->

                            {% endfor %}
                        </div>
                        <!---->
                    </div>
                </div>
                <!----><!---->
                <div class="DesktopPaymentSection DesktopPaymentProductPayMethod">
                    <div class="DesktopPaymentSection__title">
                        <div class="content_header">
                            <span >결제 수단</span>                           
                            <!---->
                        </div>
                        <div class="DesktopPaymentSection__right">
                            <span>간편 비밀번호 결제</span>
                            <!---->
                        </div>
                    </div>
                   
                    </div>
                    </div>
                    <d style="width: 400px;">
                        <div  class="DesktopPaymentProductTotal__wrapper">
                            <div  class="DesktopPaymentProductTotal">
                                <div   class="DesktopPaymentSection">
                                    <div  class="DesktopPaymentSection__title">
                                        <div  class="content_header"><span >결제 정보</span>
                                            <!---->
                                        </div>
                                        <div  class="DesktopPaymentSection__right">
                                            <!---->
                                        </div>
                                    </div>
                                    <div >
                                        <div  class="DesktopPaymentProductTotal__row mt-[20px]">
                                            <div  class="body1-regular-small">작품금액</div>
                                            <div  class="DesktopPaymentProductTotal__price">{% sum_prices object %}원</div>
                                        </div>
                                        <div  class="DesktopPaymentProductTotal__row">
                                            <div  class="body1-regular-small">배송비</div>
                                            <div  class="DesktopPaymentProductTotal__price">3,000원</div>
                                        </div>
                                        <!---->
                                        <!---->
                                        <!---->
                                        <!---->
                                        <div  class="DesktopPaymentProductTotal__divider"></div>
                                        <div  class="flex justify-between mt-[16px] mb-[16px]">
                                            <div  class="subtitle3-bold-small">최종 결제금액</div>
                                            <div  class="text-right">
                                                <div  class="subtitle1-bold-small">{% sum_prices object %}원</div>
                                                <div  class="DesktopPaymentProductTotal__estimatePoint">예상 적립금 : 9P</div>
                                            </div>
                                        </div>
                                        <div   class="DesktopPaymentDonation mb-[16px]"><label   class="BaseCheckbox BaseCheckbox__size--small BaseCheckbox__verticalAlign--center BaseCheckbox__state--unChecked" style="--BaseCheckbox--label-margin: 4;">
                                                <div  class="BaseCheckbox__wrapper"><input  class="BaseCheckbox__input" type="checkbox"><span  class="BaseCheckbox__button"><svg   width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="BaseIcon BaseCheckbox__icon" style="width: 24px; height: 24px; opacity: 1; fill: currentcolor; --BaseIcon-color: #d9d9d9;">
                                                            <g clip-path="url(#clip0_2582_8708)">
                                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M7.76086 11.5393L10.1343 13.9131L16.2648 7.7827L17.3255 8.84336L10.6648 15.504C10.3964 15.7725 9.97496 15.7948 9.68099 15.5711L9.60419 15.504L6.7002 12.6L7.76086 11.5393Z"></path>
                                                            </g>
                                                            <defs>
                                                                <clipPath id="clip0_2582_8708">
                                                                    <rect width="24" height="24"></rect>
                                                                </clipPath>
                                                            </defs>
                                                        </svg></span><span  class="BaseCheckbox__textSlot">
                                                        
                                                    </span></div>
                                            </label></div>
                                        <div   class="PaymentNotice DesktopPaymentProductTotal__terms">
                                            <div  class="PaymentNotice__title"><span  class="body2-regular-small gray-333--text">결제 시 개인정보 제공에 동의합니다.</span><svg   width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="BaseIcon cursor-pointer" colors="#999999" style="width: 20px; height: 20px; opacity: 1; fill: currentcolor; --BaseIcon-color: #333333; display: none;">
                                                    <g clip-path="url(#clip0_124_2948)">
                                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M11.4697 8.46967C11.736 8.2034 12.1527 8.1792 12.4463 8.39705L12.5304 8.46967L18.5304 14.4697L17.4697 15.5303L12.0001 10.061L6.53039 15.5303L5.46973 14.4697L11.4697 8.46967Z"></path>
                                                    </g>
                                                    <defs>
                                                        <clipPath id="clip0_124_2948">
                                                            <rect width="24" height="24"></rect>
                                                        </clipPath>
                                                    </defs>
                                                </svg><svg   width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="BaseIcon cursor-pointer" colors="#999999" style="width: 20px; height: 20px; opacity: 1; fill: currentcolor; --BaseIcon-color: #333333;">
                                                    <g clip-path="url(#clip0_124_2949)">
                                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M17.4697 8.46973L18.5304 9.53039L12.5304 15.5304C12.2641 15.7967 11.8475 15.8209 11.5538 15.603L11.4697 15.5304L5.46973 9.53039L6.53039 8.46973L12.0001 13.9391L17.4697 8.46973Z"></path>
                                                    </g>
                                                    <defs>
                                                        <clipPath id="clip0_124_2949">
                                                            <rect width="24" height="24"></rect>
                                                        </clipPath>
                                                    </defs>
                                                </svg></div>
                                            <div  class="PaymentNotice__content" style="display: none;">‣ 제공받는 자 : <b style=" font-weight: bold;">디디얌</b><br>‣ 목적 : <b style=" font-weight: bold;">판매자와 구매자 사이의 원활한 거래 진행, 상품의 배송을 위한 배송지 확인, 고객상담 및 불만처리 등</b><br>‣ 정보 : 주문자 정보(성명, 연락처), 수령인 정보(성명, 연락처, 주소)<br>‣ 보유기간 : <b style=" font-weight: bold;">발송완료 후 15일</b><br><br>아이디어스는 통신판매중개자이며 통신판매의 당사자가 아닙니다. 따라서 아이디어스는 상품 거래정보 및 거래에 대하여 책임을 지지 않습니다.<br>고객님께서는 개인정보 제공에 대하여 동의를 거부하실 수 있으나, 거부 시 상품 구매가 어렵습니다.</div>
                                        </div>
                                            <form id="payment-btn" action="{% url 'order:order_done' %}" method="post">
                                                {% csrf_token %}
                                                <button onclick="get_alert_password()"  type="button" style="background-color: #0ECEDA; color: rgb(255, 255, 255); height: 44px; flex-direction: row; --core-button-padding-x: 16; font-weight: bold;">결제하기</button>
                                        
                                            </form>
                                        <!---->
                                    </div>
                                </div>
                            </div>
                        </div>
                    <!---->
        </div>
    
 
</div>
{#% endblock %#}

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
<script>
    function get_alert_password() {
        
        // 사용자로부터 입력 받기     
        var password = prompt('비밀번호를 입력해주세요');

        if(password == '1') {
            alert('비밀번호가 확인되었습니다. 입력한 비밀번호: ' + password );
            // 비밀번호 맞으면 폼제출
            document.getElementById('payment-btn').submit();
        } else {
            alert('비밀번호가 맞지 않습니다.');
        }
    } 
     
    
</script>
</body>
</html>

