{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}SELLER{% endblock %}</title>
    <!-- 네비게이션 바 스타일 -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/navbar.css' %}"
    />
    <!-- 부트스트랩 CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <title>{% block title %} SELLER {% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    <!-- 모달 스크립트 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <!-- 아이콘-fontawesome -->
    <script src="https://kit.fontawesome.com/a47086679e.js" crossorigin="anonymous"></script>
    {% block extra-style %}
    {% endblock %}



  </head>
  <body>
    <header>      
      <nav class="navbar navbar-expand-lg navbar-white bg-white mb-3">
        <div class="container">
            <a class="navbar-brand" href="{% url 'home' %}"><span class="name_black">S</span><span class="name_color">E</span><span class="name_black">LLER</span></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="collapse navbar-collapse col-la " style="margin-left: 200px;" id="navbarSupportedContent">
                    <form class="d-flex" role="search" style="width: 489px;">
                      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                      <button class="btn btn-outline-success" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </form>
                </div>
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0 mt-2">
                    <li class="nav-item"><a class="nav-link d-flex flex-column align-items-center" href="#"><i class="fa-solid fa-book-open "></i><div style="font-size: 11px;">주문내역</div></a></li>
                    <li class="nav-item"><a class="nav-link d-flex flex-column align-items-center" href="#!"><i class="fa-solid fa-cart-shopping"></i><div style="font-size: 11px;">장바구니</div></a></li>
                    <li class="nav-item dropdown">
                      <div class="nav-link dropdown-toggle d-flex flex-column align-items-center" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-regular fa-user "></i><div style="font-size: 12px;">내정보</div></div>
                      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <li><a class="dropdown-item" href="#!">개발예정</a></li>
                          <li><hr class="dropdown-divider" /></li>
                          <li><a class="dropdown-item" href="#!">개발예정</a></li>
                          <li><a class="dropdown-item" href="#!">개발예정</a></li>
                      </ul>
                    </li>
                    
                </ul>
       
                {% if user.is_authenticated %}
                <a class="nav-link dropdown-toggle text-black" href="#" id="navbarUserDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fas fa-user-circle"></i>&nbsp;{% firstof user.get_short_name user.get_username %}
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarUserDropdown">
                    <form action="{% url 'accounts:logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="dropdown-item">Logout</button>
                    </form>
                    <li><a class="dropdown-item" href="">Change Password</a></li>
                </ul>
                {% else %}
                <a class="nav-link dropdown-toggle text-black" href="#" id="navbarAnonymousDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fas fa-user-circle"></i>&nbsp;Anonymous
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarAnonymousDropdown">
                    <li><a href="{% url 'accounts:login' %}">Login</a></li>
                    <li><a class="dropdown-item" href="">Register</a></li>
                </ul>
                {% endif %}
            </div>
        </div>
      </nav> 
    
    
      <nav class="navbar navbar-expand-lg navbar-white bg-white">
        <div class="container">
            
            <div class="collapse navbar-collapse row container" id="navbarSupportedContent">
                
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0" style="display: flex; justify-content: space-between;">
                        <li class="nav-item " ><a class="nav-link" href="/product/category/식품/">식품</a></li>
                        <li class="nav-item "><a class="nav-link" href="/product/category/패션주얼리/">패션/주얼리</a></li>
                        <li class="nav-item "><a class="nav-link" href="/product/category/홈리빙/">홈리빙</a></li>
                        <li class="nav-item "><a class="nav-link" href="/product/category/케이스문구/">케이스/문구</a></li>
                        <li class="nav-item "><a class="nav-link" href="/product/category/뷰티/">뷰티</a></li>
                        <li class="nav-item "><a class="nav-link" href="/product/category/반려동물/">반려동물</a></li>
                        <li class="nav-item "><a class="nav-link" href="/product/category/공예/">공예</a></li>
                    </ul>
                
            </div>
        </div>
      </nav> 

     
    <div>
      <ul class="navbar-nav ms-auto">
          <li class="nav-item dropdown">
            
          </li>
      </ul>
    </div>
    <header>
      <!-- 네비게이션 바 포함 -->
      {% include 'navbar.html' %}
    </header>
    <main>{% block content %} Content goes here {% endblock %}</main>
    <footer>
      <p>&copy; 2024 My Website</p>
    </footer>
    <!-- 부트스트랩 자바스크립트 (부트스트랩이 필요로 하는 경우) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
