{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}" />

<nav class="navbar navbar-1">
  <div class="container-fluid d-flex justify-content-end align-items-center">
    <form id="logoutForm">
      {% if request.user.is_authenticated %}
      <!-- 로그인 상태 -->
      <div class="dropdown">
        <button
          class="btn btn-link dropdown-toggle"
          type="button"
          id="dropdownMenuButton"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          {{ user }} ({{ request.user.role }}) 님
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <li><a class="dropdown-item" href="#">주문목록</a></li>
          <li>
            <a
              class="dropdown-item"
              href="{% url 'accounts:account_settings' %}"
              >회원정보 관리</a
            >
          </li>
          <li><hr class="dropdown-divider" /></li>
          <li>
            <a class="dropdown-item" href="#" onclick="logout()">로그아웃</a>
          </li>
        </ul>

        <button type="button" class="btn btn-link" href="#">알림</button>
        <button type="button" class="btn btn-link" href="#">메세지</button>
        <button type="button" class="btn btn-link" href="#">고객센터</button>
      </div>
      {% else %}
      <!-- 로그아웃 상태 -->
      <button
        type="button"
        class="btn btn-link"
        onclick="window.location.href='/accounts/login/';"
      >
        로그인
      </button>
      <button
        type="button"
        class="btn btn-link"
        onclick="window.location.href='/accounts/register/';"
      >
        회원가입
      </button>
      <button type="button" class="btn btn-link" href="#">고객센터</button>
      {% endif %}
    </form>
  </div>
</nav>

<script>
  function logout() {
    var csrftoken = getCookie("csrftoken"); // CSRF 토큰 가져오기

    // POST 요청 보내기
    fetch("{% url 'accounts:logout' %}", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        "X-CSRFToken": csrftoken, // 가져온 CSRF 토큰 사용
      },
      body: JSON.stringify({}), // 빈 body 전송
    })
      .then((response) => {
        // 응답 처리
        if (response.ok) {
          // 로그아웃 성공 시 처리
          window.location.href = "/"; // 로그아웃 후 리다이렉트할 URL
        } else {
          // 로그아웃 실패 시 처리
          console.error("로그아웃 실패");
        }
      })
      .catch((error) => {
        // 오류 처리
        console.error("오류 발생:", error);
      });
  }

  // CSRF 토큰을 쿠키에서 가져오는 함수
  function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== "") {
      var cookies = document.cookie.split(";");
      for (var i = 0; i < cookies.length; i++) {
        var cookie = cookies[i].trim();
        // 쿠키 이름으로 시작하는 경우
        if (cookie.substring(0, name.length + 1) === name + "=") {
          // 쿠키 값 추출
          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
          break;
        }
      }
    }
    return cookieValue;
  }
</script>

<nav class="navbar-2 navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid d-flex justify-content-end align-items-center">
    <a class="navbar-brand" href="{% url 'home' %}">
      <img src="{% static 'images/SELLER_logo.png' %}" alt="Logo" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="search" role="search">
      <input
        class="form-control me-2"
        type="search"
        placeholder="Search..."
        aria-label="Search"
        id="search-input"
      />
      <button
        class="btn btn-outline-success"
        type="submit"
        onclick="searchItem()"
      >
        Search
      </button>
    </div>

    <div class="navbar-items d-flex align-items-center">
      <div class="주문내역 navbar-item">
        <a href="#">
          <i class="fas fa-receipt"></i>
          <p>주문내역</p>
        </a>
      </div>
      <div class="장바구니 navbar-item">
        <i class="fas fa-shopping-cart"></i>
        <p>장바구니</p>
      </div>
      <div class="내_정보 navbar-item">
        <a href="{% url 'accounts:account_settings' %}">
          <i class="fas fa-user"></i>
          <p>내 정보</p>
        </a>
      </div>
    </div>
  </div>
</nav>

<nav class="navbar navbar-expand-lg navbar-white bg-white">
  <div class="container">
    <div
      class="collapse navbar-collapse row container"
      id="navbarSupportedContent"
    >
      <ul
        class="navbar-nav ms-auto mb-2 mb-lg-0"
        style="display: flex; justify-content: space-between"
      >
        <li class="nav-item">
          <a class="nav-link" href="/product/category/식품/">식품</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/product/category/패션주얼리/"
            >패션/주얼리</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/product/category/홈리빙/">홈리빙</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/product/category/케이스문구/"
            >케이스/문구</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/product/category/뷰티/">뷰티</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/product/category/반려동물/">반려동물</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/product/category/공예/">공예</a>
        </li>
      </ul>
    </div>
  </div>
</nav>