
{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/star-rating-svg@3.5.0/src/css/star-rating-svg.min.css">
    <link rel="stylesheet" href="{% static 'review/review.css' %}">
    <title>Document</title>
    
</head>
<body>
    <div class="container">
        <div class="mb-3 title">리뷰 작성</div>
        <form action="{% url 'reviews:create' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token%}
            <!-- 상품정보 -->
            <input type="hidden" name="product" value="{{ product.pk }}">
        
            <div class="mb-5 row" style='height: 100px;'>
                <div class="col-lg-3">
                <img src="{{ product.product_image.url }}" class="card-img-top" alt="상품 이미지">
                </div>
                <div class="col-lg-9">
                    <div class="card-body product-name">
                        {{ product.product_name }}
                        <br><br><br>
                        <p>가격: <strong>{{ product.product_price|intcomma}} 원</strong></p>
                    </div>
                </div>
            </div>
            
            <div class="mt-5 sub-title" >평점을 남겨주세요</div>
            {% if form.errors.rating %}
            <div class="form-errors">
                <ul>
                    {% for errors in form.errors.rating %}
                        <li>{{ errors }}</li>
                    {% endfor %}
                </ul>
            </div>
             {% endif %}
            <div class="my-rating mb-5"></div>
            <input type="hidden" name="{{ form.rating.name }}" id="rating" value="0">  
           
            <div class="form-group mb-3">
                {% if form.errors.comment %}
                <div class="form-errors">
                    <ul>
                        {% for errors in form.errors.comment %}
                            <li>{{ errors }}</li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
                <label for="{{ form.comment.id_for_label }}" class="sub-title">상세 리뷰를 작성해주세요.</label>
                {{ form.comment }}
                <!-- <textarea class="form-control" id="{{ form.comment.id_for_label }}" name="{{ form.comment.name }}" rows="10"></textarea> -->
            </div>
            
            
            <div class="form-group mb-3">
                <label class="sub-title">사진을 등록해주세요</label>
                <div class="media-container">
                    <input type="file" class="custom-file-input" id="image" name="image" accept="image/*">
                    <label for="imgae" class="custom-file-label media-box">+</label>
                    <!-- + 박스 더 필요하면 여기에 추가 -->
                    <!-- <div class="media-box">+</div> -->
                </div>
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button type="submit" class="btn btn-primary me-md-2">Submit</button>
            </div>
            
        </form>
        {% if error_message %}
        <script>
            alert('{{ error_message}}')
        </script>
        {% endif %}
    </div>
    <script>
        // 파일 선택 버튼을 숨기는 함수
        function hideFileInput() {
            document.querySelector('.custom-file-input').style.display = 'none';
        }
    
        // 페이지 로드 시 파일 선택 버튼 숨기기
        window.addEventListener('DOMContentLoaded', hideFileInput);
    
        document.querySelector('.custom-file-label').addEventListener('click', function(event) {
            event.preventDefault();  // 기본 동작 방지
            document.querySelector('.custom-file-input').click();
        });
    
        document.querySelector('.custom-file-input').addEventListener('change', function() {
            const file = this.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = function(e) {
                    document.querySelector('.custom-file-label').style.backgroundImage = 'url(' + e.target.result + ')';
                    document.querySelector('.custom-file-label').innerText = '';  // "+" 텍스트 제거
                }
                reader.readAsDataURL(file);
            } else {
                // 선택된 파일이 없을 때 "+" 텍스트를 보여주고 파일 선택 버튼을 숨김
                document.querySelector('.custom-file-label').style.backgroundImage = 'none';
                document.querySelector('.custom-file-label').innerText = '+';
                hideFileInput(); // 파일 선택 버튼 숨김
            }
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/star-rating-svg@3.5.0/dist/jquery.star-rating-svg.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script>
        function initializeStarRating() {
            $(".my-rating").starRating({
                starSize: 50,
                initialRating: parseFloat($('#rating').val()), // 초기 별점 값
                readOnly: false,
                disableAfterRate: false,
                callback: function(currentRating, $el) {
                    // 별점을 줄 때 hidden input 요소의 value 값을 업데이트
                    $('#rating').val(currentRating);
                    console.log('Rated: ', currentRating);      
                }
            });
        }
        
        $(document).ready(function() {
            initializeStarRating();
        });
        
    </script>
        
</body>
</html>
